{% load crispy_forms_field %}

<div class="form-group">
    <div class="col-2"></div>
    <div class="col-10">
        <div class="custom-control custom-checkbox">
            {% crispy_field field 'class' 'custom-control-input' %}
            <label class="custom-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
    </div>
</div>