{% extends "lim/base.html" %}
{% load lim %}
{% load crispy_forms_tags %}

{% block title %}
{% if query %}
Search results for "{{ query }}"
{% else %}
Search
{% endif %}
{% endblock %}

{% block content %}

        {{ search_form.as_p }}

        {% if query %}
            <div id="search-results">
                {% for limerick in page_obj.object_list %}
                    <div class="row">
                        {% limerick_card limerick.object %}
                    </div>
                {% empty %}
                    <div class="row">
                        <h2>No results found</h2>
                    </div>
                {% endfor %}

                <div class="row mt-2">
                    {% lim_django_pagination page_obj %}
                </div>

        {% else %}
                <br/>
                <div class="pmd-card">
                    <span>Please enter some words to search</span>

                </div>
        {% endif %}

        </div>


{% endblock %}
