{% extends "lim/base.html" %}
{% load static %}

{% block title %}
    Activity for {{ user.username }}
{% endblock %}

{% block content %}
    <div class="row mt-xl-2">
        <table class="table table-striped table-hover col-12 w-100" id="activity-table">
            <thead>
            <tr>
                <th scope="col">Msg</th>
                <th scope="col">From</th>
                <th scope="col">Author</th>
                <th scope="col">Limerick</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
                <th scope="col">PK</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/fc-3.2.5/fh-3.1.4/sl-1.3.0/datatables.min.css"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/fc-3.2.5/fh-3.1.4/sl-1.3.0/datatables.min.js"></script>
    <script src="{% static 'js/ajax-beforesend.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="{% static 'js/clipboard.js' %}"></script>
    <script>
        function markSeen(table, seen) {
            var patch = [];
            table.rows(".selected").every(function (rowIdx, tableLoop, rowLoop) {
                patch.push({"id": this.data()[5], "seen": seen})
            });
            $.ajax({
                url: "{% url "activitymessage-list" %}",
                contentType: "application/json",
                type: 'PATCH',
                data: JSON.stringify(patch),
                success: function (event, message, jqXhr) {
                    table.ajax.reload();
                },
                failure: function (errMsg) {
                    console.log("failure: ", errMsg);
                }
            });
        }

        function deleteRows(table) {
            var patch = [];
            table.rows(".selected").every(function (rowIdx, tableLoop, rowLoop) {
                patch.push(this.data()[5]);
            });
            $.ajax({
                url: "{% url "activitymessage-list" %}" + "?id=" + patch.join(","),
                contentType: "application/json",
                type: "DELETE",
                success: function (event, message, jqXhr) {
                    table.ajax.reload();
                },
                failure: function (errMsg) {
                    console.log("failure: ", errMsg);
                }
            })
        }

        $(document).ready(function () {
            $('#random-limerick-dropdown').removeClass('d-xl-none');
            $('#scrollspy').removeClass('d-xl-block');
            $('#content').children('div').removeClass('col-xl-9');
            var table = $('#activity-table').DataTable({
                ordering: false,
                lengthMenu: [[25, 50, 100], [25, 50, 100]],
                searching: true,
                processing: true,
                serverSide: true,
                stateSave: true,
                responsive: false,
                columnDefs: [
                    {
                        // seen
                        targets: [0], width: "5%"
                    }, {
                        // from
                        targets: [1], width: "10%"
                    }, {
                        // author
                        targets: [2], width: "10%"
                    }, {
                        // defines
                        targets: [3], width: "10%"
                    }, {
                        // message
                        targets: [4], width: "45%"
                    }, {
                        // date
                        targets: [5], width: "15%"
                    }, {
                        // pk
                        targets: [6], width: "5%", visible: false
                    }
                ],
                createdRow: function (row, data, index) {
                    // Highlight rows where the destination author is me
                    // (doesn't look good with multi row selection though)
                    // if ($('span.author', row).html() === "{{ request.user.username }}") {
                    //     $(row).addClass("table-info");
                    // }
                    // Bold for unseen activity messages
                    // (seen ones say "<small>#123456</small>"
                    if (data[0][7] !== "#") {
                        $(row).addClass("font-weight-bold");
                    }
                },
                select: "multi",
                dom: "<'row'<'col-12 col-md-6'Bl><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-12'tr>>" +
                    "<'row'<'col-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    "selectAll",
                    "selectNone",
                    {
                        extend: "selected",
                        text: 'Mark as read',
                        action: function (e, dt, node, config) {
                            markSeen(dt, true);
                        }
                    }, {
                        extend: "selected",
                        text: 'Mark as unread',
                        action: function (e, dt, node, config) {
                            markSeen(dt, false);
                        }
                    }, {
                        extend: "selected",
                        text: 'Delete selected',
                        action: function (e, dt, node, config) {
                            deleteRows(dt);
                        }
                    }
                ],
                language: {
                    emptyTable: "Your activity list is empty. Hooray!",
                    zeroRecords: "Hooray! Your activity list is empty."
                },
                ajax: "{% url 'activity-table-json' %}"
            });
            table.buttons().container()
                .appendTo('#activity-table_wrapper .col-md-6:eq(0)');

        });

    </script>
{% endblock %}
