{% extends "lim/base.html" %}
{% load static %}

{% block title %}
Authors
{% endblock %}

{% block content %}
    <table class="table table-striped col-12" id="author-list">
        <thead>
            <th>Author</th>
            <th>Approved</th>
            <th>Submitted</th>
            <th>Backlog</th>
            <th>Confirming</th>
            <th>Tentative</th>
            <th>Revised</th>
            <th>Held</th>
            <th>New</th>
            <th>Stored</th>
            <th>Excluded</th>
            <th>Untended</th>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/datatables.min.css"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/datatables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#random-limerick-dropdown').removeClass('d-xl-none');
        $('#scrollspy').removeClass('d-xl-block');
        $('#content').children('div').removeClass('col-xl-9');
        $('#author-list').DataTable({
            order: [[ 1, "desc" ]],
            orderSequence: ["desc", "asc"],
            lengthMenu: [[25, 50, 100], [25, 50, 100]],
            columnDefs: [
                {orderable: true,
                 searchable: true,
                 className: "center",
                 targets: [0, 1]
                }
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            responsive: false,
            ajax: "{% url 'authors-list-json' %}",
            fixedHeader: true,
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: {
                leftColumns: 1
            }
        });
    })
    </script>
{% endblock %}
