{% extends "lim/base.html" %}
{% load static %}

{% block title %}
Confirming Limericks
{% endblock %}

{% block random_limerick %}{% endblock %}

{% block content %}
    <table class="table table-striped col-12" id="confirming-table">
        <thead>
            <tr>
                <th scope="col">Confirmation End</th>
                <th scope="col">Defines</th>
                <th scope="col">First Line</th>
                <th scope="col">Author(s)</th>
                <th scope="col">Approving Editor</th>
                <th scope="col">Limerick</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/datatables.min.css"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/datatables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#random-limerick-dropdown').removeClass('d-xl-none');
        $('#scrollspy').removeClass('d-xl-block');
        $('#content').children('div').removeClass('col-xl-9');
        $('#confirming-table').DataTable({
            order: [[ 1, "desc" ]],
            orderSequence: ["desc", "asc"],
            lengthMenu: [[25, 50, 100], [25, 50, 100]],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            responsive: false,
            ajax: "{% url 'confirming-table-json' %}",
            columnDefs: [
                {
                    // approving editor
                    width: "20%", targets: [4]
                }, {
                    // words, authors, first line
                    width: "20%", targets: [1, 2, 3]
                }, {
                    // confirmation end
                    width: "15%", targets: [0]
                }, {
                    // ID
                    width: "5%", targets: [5]
                }
            ],
            fixedHeader: true,
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: {
                leftColumns: 1
            }

        });
    })
    </script>
{% endblock %}
