{% extends "lim/base.html" %}
{% load static %}

{% block title %}
RFA table
{% endblock %}

{% block random_limerick %}{% endblock %}

{% block content %}
    <table class="table table-striped col-12" id="rfa-table">
        <thead>
            <tr>
                <th scope="col">Defines</th>
                <th scope="col">Author(s)</th>
                <th scope="col">Revised</th>
                <th scope="col"># RFAs</th>
                <th scope="col"># Self RFAs</th>
                <th scope="col">My RFA</th>
                <th scope="col">State</th>
                <th scope="col">First Line</th>
                <th scope="col">Last Workshop</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/datatables.min.css"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/datatables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#random-limerick-dropdown').removeClass('d-xl-none');
        $('#scrollspy').removeClass('d-xl-block');
        $('#content').children('div').removeClass('col-xl-9');
        $('#rfa-table').DataTable({
            order: [[ 1, "desc" ]],
            orderSequence: ["desc", "asc"],
            lengthMenu: [[25, 50, 100], [25, 50, 100]],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            responsive: false,
            ajax: "{% url 'rfa-table-json' %}",
            columnDefs: [
                {
                    // words, authors
                    width: "15%", targets: [0, 1]
                }, {
                    // first line
                    width: "20%", targets: 7
                }, {
                    // revised, state, last workshop
                    width: "10%", targets: [2, 6, 8]
                }, {
                    // #rfas, #self rfas, my rfa, ID
                    width: "5%", targets: [3, 4, 5, 9],
                }
            ],
            fixedHeader: true,
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: {
                leftColumns: 1
            }

        });
    })
    </script>
{% endblock %}
