{% if form_show_errors and not error_text_in_label and field.errors %}
    {% for error in field.errors %}
        <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="invalid-feedback text-danger"><strong>{{ error }}</strong></span>
    {% endfor %}
{% endif %}
