
<div class="md-form">
    <fieldset class="gllpLatlonPicker my-4">
        <div class="row">
            <div class="col-md-2">
                <label for="gllpSearchField" class="form-control-label">Location</label>
            </div>
            <div class="form-row col-md-8">
                <input type="text" class="col-md-9 gllpSearchField form-control mr-2" id="gllpSearchField">
                <input type="button" class="col gllpSearchButton btn btn-secondary btn-outline" value="Search">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="gllpMap">Google Maps</div>
                {{fields_output|safe}}
                <input type="hidden" class="gllpZoom" value="9"/>
            </div>
        </div>

    </fieldset>
</div>
