{% load crispy_forms_filters %}
{% load l10n %}

<div class="{{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
    {% include 'bootstrap4/layout/field_errors_block.html' %}

    {% for choice in field.field.choices %}
        <div class="form-check {% if inline_class %}form-check-inline{% else %}radio{% endif %}">
            <input type="radio"
                   class="custom-format-field form-check-input" {% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
            <label for="id_{{ field.html_name }}_{{ forloop.counter }}" class="form-check-label">
                {{ choice.1|unlocalize }}
            </label>
        </div>
    {% endfor %}

    {% include 'bootstrap4/layout/help_text.html' %}
</div>
