<div class="col-12">
    {% if row.revision is None %}
        <a href="{% url 'user-message' row.pk %}">
            <i class="d-lg-none fa fa-envelope"></i>
            <span class="badge badge-info">{{ row.message_type }}</span>
            <span class="text-muted small"> Message #{{ row.pk }}</span>
            <br/>
            <span>{{ row.data|safe }}</span>
            <span class="sr-only">(unseen)</span>
        </a>
    {% else %}
        <a href="{% url 'workshop' row.revision.limerick.pk %}">
            <span class="badge badge-info">{{ row.message_type }}</span>
            <br/>
            <span>{{ row.data|safe }}</span>
            <span class="sr-only">(unseen)</span>
        </a>
    {% endif %}
</div>
