{% load lim %}
{% load gravatar %}

<div class="col-12">
    <div class="avatar-detail">
        <a href="{% url 'author-profile' user.author.pk %}">
            <span class="h6 {{ column }}" data-toggle="tooltip" title="{{ user.author.author_rank.verbose_name }}">{{ user.username }}</span><br/>
        </a>
    </div>
</div>
