{% load lim %}
<div class="col-12">
    {% if row.revision is None %}
        <a href="{% url 'user-message' row.pk %}">
            &mdash;
        </a>
    {% else %}
        {% include "lim/inclusion/reference-badge-limerick.html" with limerick=row.revision.limerick %}
        <br/>
        <a href="{% url 'workshop' row.revision.limerick.pk %}">
            <span>{{ row.revision.limerick.formatted_defined_words }}</span>
        </a>
    {% endif %}
</div>
