<div class="d-inline-block col-12 col-lg-8">
    <div id="author-preferences">
        <dl class="dl-horizontal row">
            <dt class="col-lg-4 text-lg-right">Author's preference</dt>
            <dd class="col-lg-8">{{author.verbose_feedback_style}}</dd>
            <dt class="col-lg-4 text-lg-right">Last login</dt>
            <dd class="col-lg-8">{{author.user.last_login}}</dd>
            <dt class="col-lg-4 text-lg-right">First submission</dt>
            <dd class="col-lg-8">{{author.user.date_joined}}</dd>
            <dt class="col-lg-4 text-lg-right">Limericks submitted</dt>
            <dd class="col-lg-8">{{author.live_submitted}}</dd>
            <dt class="col-lg-4 text-lg-right">Limericks approved</dt>
            <dd class="col-lg-8">{{author.live_approved_count}}</dd>
        </dl>
    </div>

</div>
