{% load absoluteuri %}
{% load static %}

{% for cfa in cfas %}
    <div class="alert alert-dismissable fade show alert-warning">
        {{ cfa.creator.username }}
        raised a Call For Attention on
        <a href="{% url "workshop" cfa.limerick.pk %}">
            limerick {{ cfa.limerick.pk }}:
            "{{ cfa.limerick.formatted_defined_words }}"
            by
            {{ cfa.limerick.latest_revision.author_names }}
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="dismissCFA({{ cfa.pk }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
       return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function dismissCFA(pk) {
        var csrftoken = getCookie('csrftoken');
        var body = {
            "dismissed": true,
            "author": "{% absoluteuri "user-detail" pk=user.pk %}",
            "cfa": "{% absoluteuri "cfa-detail" "000000" %}".replace("000000", pk)
        };
        console.log(JSON.stringify(body));
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
               if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                   xhr.setRequestHeader("X-CSRFToken", csrftoken);
             }
          }
        });
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "{% absoluteuri "cfaresponse-list" %}",
            data: JSON.stringify(body)
        });
    }
</script>
