{% load lim rules %}
{% has_perm 'lim.view_limerick' request.user limerick as can_view_limerick %}
{% if can_view_limerick %}
    {% lim_display_limerick limerick %}
{% else %}
    <div class="alert alert-warning" role="alert">
        {% if limerick.curtained %}
            Sorry, but this limerick has been marked as <b>curtained</b>
            and your preferences prevent you from viewing it.
        {% else %}
            Sorry, but you cannot view this limerick at present.
        {% endif %}
    </div>
{% endif %}
