{% load static %}
{% load lim %}

<dl class="row text-muted">
    <dt class="text-sm-right col-12 col-sm-5">Revised</dt>
    <dd class="col-12 col-sm-7">{{limerick.latest_revision.updated_at|date:'j M Y'}}</dd>
    <dt class="text-sm-right col-12 col-sm-5">Defines</dt>
    <dd class="col-12 col-sm-7">
        {% for word in limerick.latest_revision.definedword_set.order_by.all %}
            {% if not word.is_phrase_word %}
                {% word_with_definitions word %}
                <br/>
            {% endif %}
        {% endfor %}
    </dd>
    <dt class="text-sm-right col-12 col-sm-5">Status</dt>
    <dd class="col-12 col-sm-7">
        {% lim_state_badge limerick %}{% if revision.state.name == 'HELD' %} by {{ revision.limerick.held_by.user.username }}{% endif %}<br/>
        {% lim_rfas_badge limerick %}<br/>
        {% lim_curtained_badge limerick %}
    </dd>
    <dt class="text-sm-right col-12 col-sm-5">Topics</dt>
    <dd class="col-12 col-sm-7">
        {% include "lim/inclusion/topics-list.html" %}
    </dd>
</dl>
<div class="small text-muted float-right">
    {% include "lim/inclusion/reference-badge-limerick.html" %}
</div>
