{% load static %}
{% load lim %}

<dl class="row text-muted">
    <dt class="col-12">Revised</dt>
    <dd class="col-12">{{limerick.latest_revision.updated_at|date:'j M Y'}}</dd>
    <dt class="col-12">Defines</dt>
    <dd class="col-12">
        {% for word in limerick.latest_revision.definedword_set.order_by.all %}
            {% if not word.is_phrase_word %}
                {% word_with_definitions word %}
                <br/>
            {% endif %}
        {% endfor %}
    </dd>
    <dt class="col-12">Status</dt>
    <dd class="col-12">
        {% lim_state_badge limerick %}{% if revision.state.name == 'HELD' %} by {{ revision.limerick.held_by.user.username }}{% endif %}<br/>
        {% lim_rfas_badge limerick %}<br/>
        {% lim_curtained_badge limerick %}
    </dd>
    {% include "lim/inclusion/topics.html" with limerick=limerick %}
</dl>
