<a class="badge badge-light clipboard-js" data-toggle="tooltip" data-title="Copy reference to clipboard" data-clipboard-text="#{{ comment.pk.id }}">
    #{{ comment.pk.id }}
    <i class="fa fa-copy"></i>
</a>
