<a class="badge badge-light text-muted clipboard-js"
   data-toggle="tooltip" data-title="Copy reference to clipboard"
   data-clipboard-text="[[#{{ limerick.pk.id }}:{{ limerick.latest_revision.formatted_defined_words }}]]">
    Limerick #{{ limerick.pk.id }}
    <i class="fa fa-copy"></i>
</a>
