{% load static %}
{% load lim %}

<dl class="row text-muted">
    {% if include_revision_number %}
        <dt class="col-12">Revision</dt>
        <dd class="col-12"><b>#{{revision.version}}</b></dd>
        <dt class="col-12">Author(s)</dt>
        <dd class="col-12">{{revision.author_names}}</dd>
    {% endif %}
    <dt class="col-12">Revised</dt>
    <dd class="col-12">{{revision.updated_at|date:'j M Y'}}</dd>
    <dt class="col-12">Defines</dt>
    <dd class="col-12">
        {% for word in revision.definedword_set.order_by.all %}
            {% if not word.is_phrase_word %}
                {% word_with_definitions word %}
                <br/>
            {% endif %}
        {% endfor %}
    </dd>
    <dt class="col-12">Status</dt>
    <dd class="col-12">
        {% revision_state_badge revision %}{% if revision.state.name == 'HELD' %} by {{ revision.limerick.held_by.user.username }}{% endif %}<br/>
        {% revision_rfas_badge revision %}<br/>
        {% if revision.is_latest_revision %}{% lim_curtained_badge revision.limerick %}{% endif %}
    </dd>
    {% if revision.is_latest_revision %}
        {% include "lim/inclusion/topics.html" with limerick=revision.limerick %}
    {% endif %}
</dl>
