{% load lim %}
{% load rules %}

<div class="row" id="approval-info">
    <div class="col-12 alert alert-info">
        <p>
            This is the most recent version of your limerick submitted for inclusion into The Omnificent English
            Dictionary In Limerick Form (The OEDILF). It has completed the workshopping process and is, with your
            approval, ready for permanent entry into The OEDILF.
            <b>Do you approve of this piece in this form?</b>
        </p>
        <div class="row">
            <div class="card border border-success ">
                <div class="card-body">
                    <form method="post" action="{% url 'limerick-author-approval' limerick_id %}"
                          id="limerick-author-approval-form">
                        {% csrf_token %}
                        <input type="hidden" name="limerick_id" value="{{ limerick.id }}">
                        <p class="card-text">
                            I'm happy with this final version of my writing. Put it into The OEDILF with my blessings
                            and&mdash;Gee, Willikers!&mdash;it's certainly an honor to be a part of this grand
                            undertaking!
                        </p>
                        <a class="btn btn-primary" role="button" href="javascript:submit()" onclick="submit()" id="button-approve"><i
                                class="fa fa-check"></i> Yes, I approve</a>
                    </form>
                </div>
            </div>
        </div><div class="row mt-2">
            <div class="card border border-danger">
                <div class="card-body">
                    <form method="post" action="{% url 'limerick-author-rejection' limerick_id %}"
                          id="limerick-author-rejection-form">
                        {% csrf_token %}
                        <input type="hidden" name="limerick_id" value="{{ limerick.id }}">
                        <p class="card-text">
                            Hold on there a minute! That piece was ready for Pulitzer Prize consideration before you
                            screwed with it! My objections, major and/or minor, include the following:<br><br>
                        </p>
                        <div class="form-group">
                            <label for="id_rejection_message" class="d-none">Reasons for rejection</label>
                            <textarea class="form-control trumbowyg" id="id_rejection_message" name="rejection_message"
                                      rows="3"></textarea>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>

                        </div>
                        <a class="btn btn-danger" role="button" href="javascript:document.forms['limerick-author-rejection-form'].submit()" onclick="submit()" id="button-reject"><i
                                class="fa fa-times"></i> No, I do not approve</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
