{% load lim %}

{% if revision.rfa_count > 0 %}
    <div class="float-right align-right text-muted">
        Considered Ready for Final Approval by {{ revision.rfa_count }} user{{ revision.rfa_count|pluralize }}
        {% if revision.is_latest_revision %}
            <br/>
            {% for rfa in revision.limerick.rfa_set.all %}
                <span class="badge badge-{% if rfa.author in revision.authors %}success{%else%}secondary{%endif%}">
                    <i class="fa fa-check-circle"></i>
                    {{ rfa.author.username }}
                </span>
            {% endfor %}
            {% if revision.limerick.is_approved %}
                <br/>
                Approved by {{ revision.limerick.approving_editor.username }}.
            {% elif revision.limerick.is_confirming %}
                {% confirmation_header revision.limerick %}
            {% endif %}
    {% endif %}
    </div>
{% endif %}
