{% load lim %}
{% load rules %}

<div class="row">
    <div class="col-12 col-md-3" id="revision-{{ revision.version }}-metadata">
        {% revision_display_metadata revision False %}
    </div>
    <div class="col-12 col-md-7">
        {% has_perm 'lim.view_limerick' request.user revision.limerick as can_view_limerick %}
        {% if can_view_limerick %}
            {% revision_display_limerick revision %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                {% if limerick.curtained %}
                    Sorry, but this limerick has been marked as <b>curtained</b>
                    and your preferences prevent you from viewing it.
                {% else %}
                    Sorry, but you cannot view this limerick at present.
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="col-12 col-md-2 text-right">
        <div class="align-right" id="watching">
            {% include "lim/inclusion/watch-button.html" %}
        </div>
        {% if revision.is_latest_revision %}
            {% include "lim/inclusion/tags.html" with limerick=revision.limerick %}
        {% endif %}
    </div>
</div>
