{% if revision.limerick.is_approved and revision == revision.limerick.latest_revision %} <!-- lim approved, revision not obsolete -->
    {{ revision.state }}
    <a class="activator float-right mx-2" href="#" title="Tweet"><i class="fab fa-twitter"></i></a>
    <a class="activator float-right mx-2" href="#" title="Share on Facebook"><i class="fab fa-facebook-f"></i> </a>
    <a class="activator float-right mx-2" href="{% url 'limerick' revision.limerick.pk %}" title="Permanent link to this limerick"><i class="fa fa-share-alt"></i> </a>
{% endif %}

<h2 class="card-title">
    {% firstof revision.title revision.formatted_defined_words %}
</h2>

<div class="card-subtitle mb-2 text-muted row">
    <div class="h5 col-md-6">Revision #{{ revision.version }} by {{ revision.author_name_links }}</div>
    <div id="approvers-{{revision.version}}" class="col-md-6">
        {% include "lim/inclusion/revision-approvers.html" with revision=revision %}
    </div>
</div>
