{% load lim %}

{% if limerick.topics.count %}
    {#NOSONAR#}
    <dt class="col-12">Topics</dt> {# NOSONAR #}
    <dd class="col-12" id="id-topics-{{ limerick.pk }}">
        {% include "lim/inclusion/topics-list.html" with limerick=limerick %}
    </dd>
{% endif %}
