<a class="badge badge-info" href="javascript:toggleWatching()">
    <i class="fas fa-eye{% if not watching %}-slash{% endif %}"></i>
    {% if watching %}Watching{% else %}Not watching{% endif %}
</a>
