{% load static %}

<a href="/definitions/{{word}}">{{word}}</a>
<a href="https://onelook.com/?w={{word}}"><img src="{% static 'images/onelook.favicon.png'%}" alt="Find definition at OneLook"></a>
<a href="https://google.com/search?q=define+%22{{word}}%22"><img src="{% static 'images/googleg_logodp.png'%}" alt="Find definition via Google"></a>
