{% load rules humanize lim cache %}
{% load gravatar %}

<div class="row mx-0">
    <div class="col-12 mx-0 px-tosm-0">
            <span class="d-none d-md-inline text-muted float-right">
                {% include "lim/inclusion/reference-badge-comment.html" %}
                <small>
                    {% if comment.edit_date_time is not None %}
                        edited {{ comment.date_time }}
                        <span class="d-none d-md-inline">({{ comment.edit_date_time|naturaltime }}))</span>
                    {% else %}
                        {{ comment.date_time }}
                        <span class="d-none d-md-inline">({{ comment.date_time|naturaltime }})</span>
                    {% endif %}
                </small>
            </span>
        <a id="{{ comment.pk }}" name="{{ comment.pk }}"
           href="{% if comment.author is None %}#{% else %}{% url 'author-profile' comment.author.pk %}{% endif %}">
            <span class="d-none d-md-inline">{% lim_gravatar_image comment.author 20 %}</span>
            <span class="h5 mb-1 mx-1" id="comment_author_{{ comment.pk }}">{% if comment.author is None %}
                Info{% else %}{{ comment.author.username }}{% endif %}</span>
        </a>
        <small>
                <span class="d-md-none text-muted float-right">
                    {% include "lim/inclusion/reference-badge-comment.html" %}
                </span>
        </small>
        <small class="d-block d-md-none">
            {% if comment.edit_date_time is not None %}
                edited {{ comment.date_time }}
                <span class="d-none d-md-inline">({{ comment.edit_date_time|naturaltime }}))</span>
            {% else %}
                {{ comment.date_time }} <span class="d-none d-md-inline">({{ comment.date_time|naturaltime }})</span>
            {% endif %}
        </small>

    </div>
</div>
<div class="row mx-0 px-tosm-0">
    <div id="comment_message_{{ comment.pk }}"
         class="col-12 float-left align-left {% if not exclude_comment_edit %}col-md-10 col-lg-11{% endif %} px-tosm-0">
        <p class="mb-0 px-tosm-0">
            {% if comment.author is None %}
                {{ comment.message|linebreaks }}
            {% else %}
                {{ comment.message_with_comment_links|lim_links|linebreaksbr|safe|urlize }}
            {% endif %}
        </p>
        {% if comment.action is not None %}
            <p class="mb-1">
                {% if comment.action.name == 'RFA_ADD' %}
                    <div class="badge badge-success">
                        <i class="fa fa-check-circle"></i> RFA added
                    </div>
                {% elif comment.action.name == 'RFA_REMOVE' %}
                    <div class="badge badge-danger">
                        <i class="fas fa-minus-circle"></i> RFA removed
                    </div>
                {% elif comment.action.name == 'ADD_CURTAIN' %}
                    <div class="badge badge-warning">
                        <i class="fas fa-exclamation-triangle"></i> Curtain added
                    </div>
                {% elif comment.action.name == 'REMOVE_CURTAIN' %}
                    <div class="badge badge-warning">
                        <i class="fas fa-exclamation-triangle"></i> Curtain removed
                    </div>
                {% elif comment.action.name == 'HOLD' %}
                    <div class="badge badge-warning">
                        <i class="fas fa-pause-circle"></i> Held
                    </div>
                {% elif comment.action.name == 'UNHOLD' %}
                    <div class="badge badge-warning">
                        <i class="fas fa-play-circle"></i> Unheld
                    </div>
                {% elif comment.action.name == 'CLEAR_RFAS' %}
                    <div class="badge badge-danger">
                        <i class="fas fa-times-circle"></i> Cleared all RFAs
                    </div>
                {% elif comment.action.name == 'STC' %}
                    <div class="badge badge-success">
                        <i class="fa fa-stopwatch"></i> Set to Confirming
                    </div>
                {% elif comment.action.name == 'COUNTDOWN_STOP' %}
                    <div class="badge badge-danger">
                        <i class="fa fa-stopwatch"></i> Countdown stopped
                    </div>
                {% elif comment.action.name == 'CFA' %}
                    <div class="badge badge-danger">
                        <i class="fas fa-exclamation-circle"></i> Call For Attention
                    </div>
                {% elif comment.action.name == 'CFA_END' %}
                    <div class="badge badge-success">
                        <i class="fas fa-exclamation-circle"></i> Call For Attention complete
                    </div>
                {% endif %}
            </p>
        {% endif %}
    </div>

    {% if not exclude_comment_edit %}
        <div class="btn-group align-right align-self-start col-12 col-md-2 col-lg-1">
            {% has_perm 'lim.change_comment' request.user comment as can_change_comment %}
            {% if can_change_comment %}
                <a role="button" class="btn btn-sm btn-outline-primary z-depth-0"
                   href="javascript:triggerEditComment('{{ comment.pk }}')"
                   title="Edit">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
            {% has_perm 'lim.delete_comment' request.user comment as can_delete_comment %}
            {% if can_delete_comment %}
                <button type="button"
                        class="btn btn-sm btn-outline-danger z-depth-0"
                        data-toggle="modal"
                        data-target="#deleteCommentModal"
                        data-comment="{{ comment.pk }}"
                        title="Delete"
                        id="delete_comment-button_{{ comment.pk }}"
                >
                    <i class="fa fa-trash"></i>
                </button>
            {% endif %}
        </div>
    {% endif %}
</div>

