{% load crispy_forms_field %}

{% if field in form.hidden_fields %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="form-group{% if form_group_wrapper_class %} {{ form_group_wrapper_class }}{% endif %}">
        {% if label_class %}
            <div class="{{ label_class }}"></div>
            <div class="{% for offset in bootstrap_checkbox_offsets %}{{ offset }} {% endfor %}{{ field_class }}">
        {% endif %}
    {% endif %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_group_wrapper_class %} {{ form_group_wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-danger{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="form-control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                {% if error_text_in_label %}
                    <br/>
                    {% include 'bootstrap4/layout/field_errors_label.html' %}
                {% endif %}
            </label>
        {% endif %}

        {% if field|is_checkboxselectmultiple %}
            {% include 'bootstrap4/layout/checkboxselectmultiple.html' %}
        {% endif %}

        {% if field|is_radioselect %}
            {% include 'bootstrap4/layout/radioselect.html' %}
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}
                <div class="form-group form-check">
                    {% crispy_field field %}
                    <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %} form-check-label">
                        {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
                    {% if error_text_in_label %}
                        <br/>
                        {% include 'bootstrap4/layout/field_errors_label.html' %}
                    {% endif %}
                    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
                </div>
            {% else %}
                <div class="{{ field_class }}">
                    {% crispy_field field %}
                    {% include 'bootstrap4/layout/help_text_and_errors.html' with error_text_in_label=error_text_in_label %}
                </div>
            {% endif %}
        {% endif %}
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
    {% if field|is_checkbox %}
        {% if label_class %}
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endif %}
