<div class="waypoint" data-limerick-id="{{ limerick.pk }}">
    <div class="card z-depth-1 mt-3" id="limerick-{{limerick.id}}">
        <div class="card-header">
            <h2 class="card-title" style="color: #cccccc">
                <span>&#9608;&#9608;&#9608; &#9608; &#9608;&#9608;&#9608;</span>
            </h2>
        </div>
        <div class="card-body list-group-flush px-tosm-0" style="color: #cccccc">

            <div class="row">
                <div class="col-12 col-md-3">
                    <dl>
                        <dt>&#9608;&#9608;&#9608;&#9608;</dt>
                        <dd>&#9608; &#9608; &#9608;&#9608;</dd>
                        <dt>&#9608;&#9608;&#9608;&#9608;</dt>
                        <dd>&#9608;&#9608;</dd>
                        <dt>&#9608;&#9608;&#9608;&#9608;</dt>
                        <dd class="small">&#9608;&#9608;&#9608;</dd>
                    </dl>
                    <br/>
                </div>
                <div class="col-12 col-md-7">
                    &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;<br/>
                    &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;<br/>
                    &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;<br/>
                    &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;<br/>
                    &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;<br/>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn" style="color: #cccccc; background-color: #cccccc; min-width: 10rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <div class="small text-muted float-right">
                {% include "lim/inclusion/reference-badge-limerick.html" %}
            </div>
        </div>
    </div>
</div>
