{% load lim %}
{% load rules %}

<!--suppress SyntaxError -->
<div class="container-fluid col-12">
    <div class="card z-depth-1 mt-3" id="limerick-{{limerick.id}}">
        <div class="card-header">
            <span class="float-right">
                {% if limerick.state == 2 %} <!-- Approved -->
                    <a class="mx-2" data-toggle="tooltip" href="#" title="Tweet"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" data-toggle="tooltip" href="#" title="Share on Facebook"><i class="fab fa-facebook-f"></i> </a>
                    <a class="mx-2" data-toggle="tooltip" href="{% url 'limerick' limerick.pk %}" title="Permanent link to this limerick"><i class="fa fa-link"></i> </a>
                {% endif %}
            </span>
            <h2 class="card-title">
                {% if limerick.showcase_set.count > 0 %}
                    <span id="showcase-badge-{{limerick.pk}}"
                          class="{% if limerick.showcase_set.count == 0 %}invisible{%else%}visible{%endif%}"
                    >
                        <i class="fas fa-certificate fa-xs" style="color: gold"></i>
                    </span>
                {% endif %}
                <b>{% firstof limerick.latest_revision.title limerick.formatted_defined_words %}</b>
                by
                {{ limerick.latest_revision.author_name_links }}
            </h2>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-12 col-md-3">
                    {% lim_display_metadata limerick %}
                </div>
                <div class="col-12 col-md-7">
                    {% include "lim/inclusion/limerick-body.html" %}
                </div>
                <div class="col-12 col-md-2 text-right">
                    {% include "lim/inclusion/tags.html" with limerick=limerick %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            {% lim_workshop_button limerick %}
            {% if user.pk == limerick.primary_author.pk and limerick.is_approved %}
                {% if limerick.showcase_set.count > 0 %}
                    <a id="manage-showcase-button-{{limerick.pk}}" href="javascript:remove_from_showcase('{{limerick.pk}}', '{{limerick.showcase_set.first.pk}}')" class="card-link btn btn-primary btn-sm card-link waves-effect waves-light">
                        Remove from showcase
                    </a>
                {% else %}
                    <a id="manage-showcase-button-{{limerick.pk}}" href="javascript:add_to_showcase('{{limerick.pk}}')" class="card-link btn btn-primary btn-sm card-link waves-effect waves-light">
                        Add to showcase
                    </a>
                {% endif %}
            {% endif %}
            <div class="small text-muted float-right">
                {% include "lim/inclusion/reference-badge-limerick.html" %}
            </div>
        </div>
    </div>
</div>
