{% load lim %}
{% load rules %}

<!--suppress SyntaxError -->
<div class="card col-12 col-md-6 col-xl-3 z-depth-1 mt-3" id="limerick-{{limerick.id}}" style="font-family: Roboto, sans-serif">
    <div class="card-header">
        {% if limerick.state == 2 %} <!-- Approved -->
            <a class="float-right mx-2" data-toggle="tooltip" href="{% url 'limerick' limerick.pk %}" title="Permanent link to this limerick"><i class="fa fa-link"></i> </a>
        {% endif %}
        <h3 class="card-title">
            {% firstof limerick.latest_revision.title limerick.formatted_defined_words %}
            <span id="showcase-badge-{{limerick.pk}}"
                  class="{% if limerick.showcase_set.count == 0 %}invisible{%else%}visible{%endif%}"
            >
                <i class="fas fa-certificate fa-xs" style="color: gold"></i>
            </span>
        </h3>
        <h5 class="card-subtitle mb-2 text-muted">
            By {{ limerick.latest_revision.author_names }}
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                {% include "lim/inclusion/limerick-body.html" %}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="col-12">
            {% lim_display_homepage_metadata limerick %}
        </div>
    </div>
</div>
