{% load static %}
{% load lim %}

{% if random_limerick is not None %}
<div class="card random-limerick">
    <div class="card-header text-white">
        Random limerick: <b>{{ random_limerick.formatted_defined_words }}</b>
        by {{ random_limerick.latest_revision.author_names }}
    </div>
    <div class="card-body lim-verse random-lim-verse">
        {{ random_limerick.latest_revision.verse|safe|linebreaksdiv:"hanging-indent"|lim_links|urlize }}
    </div>
    <div class="card-footer text-white">
        <div class="row">
            <div class="col-6">
                <div class="mr-auto"></div>
                {% lim_curtained_badge random_limerick %}
            </div><div class="col-6">
                <a role="button"
                   class="btn btn-outline-light btn-small float-right"
                   href="{% url 'limerick' random_limerick.pk %}">Notes</a>
            </div>
        </div>

    </div>
</div>
{% endif %}