{% load lim %}
{% load rules %}

<div class="card z-depth-1 mt-3">
    <div class="card-header">
        {% if revision.limerick.state == 2 and revision == revision.limerick.latest_revision %} <!-- lim approved, revision not obsolete -->
            {{ revision.state }}
            <a class="activator float-right mx-2" href="#" title="Tweet"><i class="fab fa-twitter"></i></a>
            <a class="activator float-right mx-2" href="#" title="Share on Facebook"><i class="fab fa-facebook-f"></i> </a>
            <a class="activator float-right mx-2" href="{% url 'limerick' revision.limerick.pk %}" title="Permanent link to this limerick"><i class="fa fa-share-alt"></i> </a>
        {% endif %}

        <h2 class="card-title">
            {% firstof revision.title revision.limerick.formatted_defined_words %}
        </h2>
        <h5 class="card-subtitle mb-2 text-muted">
            Revision #{{ revision.version }} by {{ revision.author_name_links }}
        </h5>
    </div>
    <div class="card-body">
        {% include "lim/inclusion/revision-body.html" %}
    </div>
</div>
