{% extends "base.html" %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="card w-100 mx-2">
            <div class="card-body card-text">
                {{ announcement.content|safe }}
            </div>
            <div class="card-footer">
                <p class="small text-right text-muted">
                    Published {{ announcement.publish_start }} by {{ announcement.creator.username }}
                    {% if announcement.publish_end %}
                        <br/>
                            Expires: {{ announcement.publish_end }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

{% endblock %}
