{% load static %}
{% load macros %}
{% load lim %}
{% load rules %}
{% load pinax_announcements_tags %}

{% macro title %}{% block title %}{% if title %}{{ title }}{% else %}Title{% endif %}{% endblock %}{% endmacro %}

<!--suppress SyntaxError -->
<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% use_macro title %}">
    <title>{%filter striptags%}{% if title %}{{ title|safe|striptags }}{%else%}{% use_macro title %}{%endif%} &mdash; OEDILF{%endfilter%}</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

    <!--Font Awesome 5-->
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- bootstrap-select -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <!-- Select2 css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

    <!-- Stacktable - for responsive tables -->
    <link rel="stylesheet" type="text/css" href="{% static '3rdparty/johnpolacek-stacktable.js-25ca16a/stacktable.css' %}">

    <!-- tellme -->
    <link href="{% static 'tellme/feedback.min.css' %}" rel="stylesheet">

    <!-- Your custom styles (optional) -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/oedilf.css' %}">

        <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}
</head>

<body  data-spy="scroll" data-target="#scrollspy"
                         style="position: relative; height: 100%; overflow: auto">
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">

                <!-- Navbar brand -->
                <a class="navbar-brand" href="{% url 'site-root' %}">
        		  	<img src="{% static 'images/oedilfi40x40.jpg' %}" alt="The OEDILF"/>
                    {% if not user.is_authenticated %}
                        The OEDILF
                    {% endif %}
                </a>

                <!-- Collapse button -->
                <button class="navbar-toggler black-text" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Read<span class="d-md-none d-lg-inline">ing</span></a>
                            <div class="dropdown-menu dropdown-primory" aria-labelledby="navbarDropdownMenuLink">
                                <h6 class="dropdown-header">Browse the Limerictionary</h6>
                                <a class="dropdown-item" href="{% url "limericks-list" %}?states=Approved">Approved limericks</a>
                                <a class="dropdown-item" href="{% url "showcases" %}">Author showcases</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">RSS feeds</h6>
                                <a class="dropdown-item" href="{% url "feed-unfiltered-rss" %}">
                                    <i class="fa fa-rss-square" style="color: rgb(255, 165, 0)"></i>
                                    Approved limericks
                                </a>
                                <a class="dropdown-item" href="{% url "feed-filtered-rss" %}">
                                    <i class="fa fa-rss-square" style="color: rgb(255, 165, 0)"></i>
                                    Approved limericks (filtered)
                                </a>
                                <a class="dropdown-item" href="{% url "feed-announcements" %}">
                                    <i class="fa fa-rss-square" style="color: rgb(255, 165, 0)"></i>
                                    Public announcements
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url "search" %}">
                                    <i class="fa fa-search"></i>
                                    Search the Limerictionary
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url "home" %}">
                                    <i class="fa fa-home"></i> Welcome to The OEDILF
                                </a>
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Writ<span class="d-md-none d-lg-inline">ing</span><span class="d-none d-md-inline d-lg-none">e</span></a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'add-limerick' %}">Add a limerick</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'limericks-by-author' user.author.pk %}">My limericks</a>
                                    <a class="dropdown-item" href="{% url 'activity' %}">Activity list</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'words-not-done' %}">Words lacking limericks</a>
                                    <a class="dropdown-item" href="{% url 'random-words-not-done' %}">Random words</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Work<span class="d-md-none d-lg-inline">shop</span></a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'authors' %}">Authors</a>
                                    <a class="dropdown-item" href="{% url 'rfa-table' %}">RFA table</a>
                                    <a class="dropdown-item" href="{% url 'personal-tags' %}">Tags</a>
                                    <a class="dropdown-item" href="{% url 'confirming-table' %}">Confirming list</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Grab</a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    {% if active_projects %}
                                        <h6 class="dropdown-header">Workshopping projects</h6>
                                        {% for project in active_projects %}
                                            <a class="dropdown-item" data-toggle="tooltip" data-placement="right" title="{{ project.short_description }}" href="{% url 'grab' project.abbreviation|lower %}">Grab {{ project.abbreviation }} limerick</a>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <h6 class="dropdown-header">Regular workshopping</h6>
                                    <a class="dropdown-item" href="{% url 'grab' 'random' %}">Grab random limerick</a>
                                    <a class="dropdown-item" href="{% url 'grab' 'rfa0' %}">0 RFAs</a>
                                    <a class="dropdown-item" href="{% url 'grab' 'rfa1' %}">1 RFA</a>
                                    <a class="dropdown-item" href="{% url 'grab' 'rfa2' %}">2 RFAs</a>
                                    <a class="dropdown-item" href="{% url 'grab' 'rfa3' %}">3 RFAs</a>
                                    <a class="dropdown-item" href="{% url 'grab' 'rfa4' %}">4+ RFAs</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'grab-nothing' %}">View grabbing categories</a>
                                </div>
                            </li>
                            {% has_perm 'lim.is_approving_editor' request.user as is_approving_editor %}
                            {% has_perm 'lim.is_site_editor' request.user as is_site_editor %}
                            {% if is_approving_editor %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">STC</a>
                                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'grab' 'stc' %}">Grab STC limerick</a>
                                        <a class="dropdown-item" href="{% url "list-stc-eligible" %}">All STC limericks</a>
                                        {% if is_site_editor %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'stc-list-lace-eligible' %}">Send LACEs</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                            {% has_perm 'lim.can_view_admin' request.user as can_view_admin %}
                            {% if user.is_staff or can_view_admin %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarAdminMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Admin</a>
                                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarAdminMenuLink">
                                        <a class="dropdown-item" href="{% url 'lim_admin:defined-word-bulk-change' %}">Bulk add/remove defined words</a>
                                        <a class="dropdown-item" href="{% url 'words-summary-by-prefix' %}">Summary of Defined Words</a>
                                        <a class="dropdown-item" href="{% url 'lim_admin:index' %}">Database administration</a>
                                        {% has_perm 'lim.can_impersonate' request.user as can_impersonate %}
                                        {% if can_impersonate %}
                                            <div class="dropdown-divider"></div>
                                            <h6 class="dropdown-header">Impersonation</h6>
                                            <a class="dropdown-item {% if request.user.is_impersonate %}disabled{% endif %}" href="{% url 'impersonate-list' %}">List users to impersonate</a>
                                            <a class="dropdown-item {% if request.user.is_impersonate %}disabled{% endif %}" href="{% url 'impersonate-search' %}">Search for a user to impersonate</a>
                                        {% endif %} <!-- is_staff-->
                                    </div>
                                </li>
                            {% endif %} <!-- is_staff or can_view_admin-->
                        {% endif %} <!-- is_authenticated -->

                    </ul>
                    <!-- Links -->

                    <!-- Search form -->
                    <form class="form-inline" action="{% url 'search' %}">
                        <div class="input-group">
                            <input class="form-control" name="q" type="text" required
                                   placeholder="Search for a word or author"
                                   oninvalid="this.setCustomValidity('Search for a word or author')"
                                   oninput="this.setCustomValidity('')"
                                   aria-label="Search">
                            <div class="input-group-append">
                                <button class="input-group-text"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <input type="hidden" name="s_l" value="0"/>
                        <input type="hidden" name="s_dw" value="1"/>
                        <input type="hidden" name="s_an" value="0"/>
                        <input type="hidden" name="s_c" value=""/>
                    </form>

                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto nav-flex-icons">

                        <li class="nav-item dropdown d-none d-lg-inline">
                            <a class="nav-link dropdown-toggle waves-effect waves-light {%if new_message_count == 0 %}grey-text{% endif %}" id="notification_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ new_message_count }} <i class="fa fa-envelope"></i>
                                <span class="sr-only"> unread message{{ new_message_count|pluralize }}</span>
                            </a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="notification_link" id="notification-dropdown">
                                <a class="dropdown-header" href="#">Loading ...</a>
                            </div>
                        </li>
                        <li class="nav-item avatar dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                {% lim_gravatar_image user 30 %} <span class="pl-2 d-md-none d-lg-inline">{{ user.username }}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink-5">
                                <a class="dropdown-item" href="{% url 'activity' %}">Activity list ({{ new_message_count }})</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'limericks-by-author' user.author.pk %}">My limericks</a>
                                <a class="dropdown-item waves-effect waves-light" href="{% url 'author-showcase' user.author.pk %}">My showcase</a>
                                <a class="dropdown-item waves-effect waves-light" href="{% url 'author-profile' user.author.pk %}">My profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item waves-effect waves-light" href="{% url 'account_logout' %}">Log out</a>
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login / Register</a>
                        </li>
                    </ul>
                    {% endif %} <!-- is_authenticated -->
                </div>
                <!-- Collapsible content -->

            </div>
        </nav>


    </header>

    <main>

        <!-- Feedback button -->
        {% if user.is_authenticated %}
            <button type="button" id="feedback-btn" class="btn text-muted btn-light mx-0 my-0 btn-sm" data-toggle="tooltip" title="Report an issue with this page">
                 Feedback <i class="fas fa-bullhorn" aria-hidden="true"></i>
            </button>
        {% endif %}

        <div id="toasts" aria-live="polite" aria-atomic="true" class="fixed-top">
            <div style="position: absolute; top: 20px; right: 20px;">
                {% block toast %}
                {% endblock %}

            </div>
        </div>


        <!--content area start-->
        <div class="main-wrapper">
            <div class="container-fluid">

                {% block messages %}
                    {% if settings.DEBUG %}
                        <div class="alert alert-danger col-12 my-2">
                            <i class="fa fa-exclamation-triangle"></i>
                            This is the TEST SITE.
                            Any work done here is liable to be lost.
                        </div>
                    {% endif %}

                    {% if user.is_superuser %}
                        <div class="alert alert-warning col-12 my-2">
                            <i class="fa fa-exclamation-triangle"></i>
                            WARNING: You are superuser!
                        </div>
                    {% endif %}

                    {% if user.is_impersonate %}
                        <div class="alert alert-warning col-12 my-2">
                            <i class="fa fa-exclamation-triangle"></i>
                            WARNING: You are impersonating {{ user.username }}.
                            <a href="{% url 'impersonate-stop' %}">Click here to become {{ request.real_user.username }} again.</a>
                        </div>
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% active_cfa_messages request.user %}
                    {% endif %}
                    {% if messages %}
                        <div class="section">
                            {% for message in messages %}
                                <div class="alert alert-dismissable fade show {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% announcements as announcement_list %}
                    {% if announcement_list %}
                        {% for announcement in announcement_list %}
                            <div class="alert alert-dismissable fade show alert-info"
                                 {% if announcement.dismiss_url %}data-announcement-dismiss-url="{{ announcement.dismiss_url }}"{% endif %}
                            >
                                <b>{{ announcement.title }}</b><br/>
                                {{ announcement.content|first_paragraph|safe }}
                                {% if announcement.content|has_more_paragraphs %}
                                    <a href="{{ announcement.get_absolute_url }}">More...</a>
                                {% endif %}
                                {% if announcement.dismiss_url %}
                                    <a class="button close ajax" data-dismiss="alert" aria-label="Close" href="{{ announcement.dismiss_url }}" data-method="post">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}

                {% endblock %}

                <div id="content" class="row">

                    <div class="col-xl-9 col-12 pt-3">
                        <div class="row px-1">
                            {% block pagetitle %}
                            <div class="d-flex flex-row section-title col-12">
                                <div class="col-12 col-md-6 col-lg-7 col-xl-12">
                                    <h1>{% use_macro title %}</h1>
                                    <div>{% block subtitle %}{% endblock %}</div>
                                </div>
                                {% block random_limerick %}
                                    <div class="d-none d-md-block d-xl-none col-md-6 col-lg-5">
                                        {% random_limerick_card %}
                                    </div>
                                {% endblock random_limerick %}
                            </div>
                            {% endblock pagetitle %}
                        </div>

                        <div class="section">
                            {% block content %}
                            <h1>Content goes here</h1>
                            {% endblock %}
                        </div>
                    </div>
                    <!-- Sidebar - only visible on xl -->
                    <aside class="list-group d-none d-xl-block col-xl-3 mt-2" id="scrollspy">
                        <div class="my-2">
                            {% random_limerick_card %}
                        </div>
                        <div class="mt-2 sticky-top" style="z-index: 0">
                            {% block tableofcontents %}
                            {% endblock %}
                        </div>
                    </aside>
                </div>
            </div>

            <!-- Display random limerick at the bottom of tiny viewports -->
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <div class="d-block d-md-none">
                            {% random_limerick_card %}
                        </div>
                    </div>
                </div><!-- content area end -->
            </div>
        </div> <!-- main-wrapper -->

    </main>

    <!--Footer-->
    <footer class="page-footer pt-4 bg-light">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-8">
                    <h6 class="title font-bold"><strong>Copyright</strong></h6>
                    <p>
                        &copy; 2004-<span class="auto-update-year"></span> OEDILF.  All Rights Reserved.
                    </p>
                    <p class="small font-light">
                        The information on this page may not be reproduced in any form without written permission by the OEDILF Editor-in-Chief.<br/>
                        All limericks remain the property of the authors who contributed them and are reproduced here by permission.<br/>
                        If you reproduce an individual limerick under the doctrine of fair use or fair dealing, please credit the limerick's author.<br/>
                    </p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-4">
                    <h6 class="title font-bold"><strong>Contact</strong></h6>
                    <p>
                        For editorial queries: <br/>
                        <i class="fa fa-envelope mr-3"></i> <a href="mailto:chris@oedilf.com" class="grey-text">chris@oedilf.com</a>
                    </p>
                    <p>
                        For technical assistance: <br/>
                        <i class="fa fa-envelope mr-3"></i> <a href="mailto:oedilf@burla.force9.co.uk" class="grey-text">oedilf@burla.force9.co.uk</a>
                    </p>
                </div>
                <!--/.Second column-->
                <span class="invisible" id="processing-status" data-status="idle"></span>
            </div>
        </div>
        <!--/.Footer Links-->

        {%  include 'tellme/js_inc.html' %}

    </footer>
    <!--/.Footer-->





    <!-- SCRIPTS -->
    <!--suppress SpellCheckingInspection -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--suppress SpellCheckingInspection -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    <!-- URI -->
    <script src="{% static '3rdparty/URI.js' %}"></script>
    <!-- bootstrap-select -->
    <!-- Latest compiled and minified
    JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- Select2 js-->
    <script type="text/javascript" src="{% static '3rdparty/select2/js/select2.full.js' %}"></script>

    <!-- For pinax -->
    <script src="{% static "3rdparty/eldarion-ajax/eldarion-ajax.min.js" %}"></script>

    <script>
	$(document).ready(function() {
		$(".auto-update-year").html(new Date().getFullYear());
        $('[data-toggle="tooltip"]').tooltip();
	    $(document).on("click", "#notification_link", function(event) {
	        var url = "{% url 'notifications-card' %}";
	        $.ajax({
	            url: url,
	            type: 'get',
	            complete: function(qXHR, textStatus) {
	                if (textStatus === 'success') {
	                    $("#notification-dropdown").html(qXHR.responseText);
	                }
	            }
	        });
	    });
	});
</script>
    <script>
        var desktopBtn = $("#desktop");
var mobileBtn = $("#mobile");
var body = $('body');

desktopBtn.on('click', function() {
  body.addClass('large-screen');
  togglePrimaryButtonStyle($(this));
});

mobileBtn.on('click', function() {
  body.removeClass('large-screen');
  togglePrimaryButtonStyle($(this));
});

function togglePrimaryButtonStyle(el) {
  var sibling = el.parent('.btn-group').siblings('.btn-group').find('.btn');
  el.addClass('btn-primary');
  sibling.removeClass('btn-primary').addClass('btn-default');
}

    </script>

    {% block scripts %}
{% endblock %}

<!-- Scripts Ends -->

</body>
</html>

