{% extends 'lim/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-8">
            <p>{% trans "We're sorry, but the requested page could not be found." %}</p>

            {% if referer %}
                {% if internal %}
                    {% block internal-link %}
                        {% blocktrans %}
                            <p>You have found an outdated link on <a href="{{ referer }}">this page</a>.</p>
                        {% endblocktrans %}
                        {% if contact %}
                            {% blocktrans with contact.email as email and contact.name as name %}
                                <p>Please, write about this fact to <a href="mailto:{{ email }}">{{ name }}</a>.</p>
                            {% endblocktrans %}
                        {% endif %}
                    {% endblock internal-link %}
                {% else %}
                    {% block external-link %}
                        {% blocktrans %}
                            <p>It seems, that you found a broken or outdated link at
                                <a href="{{ referer }}">{{ referer }}</a> page.</p>
                        {% endblocktrans %}
                    {% endblock external-link %}
                {% endif %}
            {% else %}
                {% block no-referer %}
                    {% blocktrans %}
                        <p>Probably, this has happened because of:</p>
                        <ul>
                            <li>An outdated bookmark in your browser.</li>
                            <li>A mis-typed address.</li>
                        </ul>
                        <p>Please, correct the URL and try again.</p>
                    {% endblocktrans %}
                {% endblock no-referer %}
            {% endif %}

        </div>
        <div class="col-lg-4">
            <div class="card random-limerick">
                <div class="card-header text-white">
                    <b>404</b>
                    by neilski
                </div>
                <div class="card-body lim-verse random-lim-verse">
                    "It <i>can't</i> have just dropped on the floor,<br/>
                    And I looked down the sofa before,"<br/>
                    The webserver frowned.<br/>
                    "I've searched all around,<br/>
                    But that page is not found -- <b>404</b>."
                </div>
                <div class="card-footer text-white">
                </div>
            </div>

        </div>
    </div>

{% endblock %}

