{% load cache humanize %}

<div class="list-group-item list-group-item-action text-truncate">
    <div class="row">
        <div class="col-10">
            <span class="text-sm text-muted">#{{limerick.id}}</span>
            <span class="h6">
                <b>
                    {{ limerick.latest_revision.formatted_defined_words }}
                </b>
                by
                {{ limerick.latest_revision.author_names }}
            </span>
        </div>
        <div class="col-2 text-right align-right">
            <a class="btn btn-sm btn-outline-primary text-right align-right" href="{% url 'workshop' limerick.id %}" target="_blank" title="Workshop">
                 <i class="fas fa-external-link-alt"></i> Workshop
            </a>
        </div>
    </div>
    <span>
        {{ limerick.latest_revision.verse }}
    </span>
    <br/>
    <div class="badge badge-{{ badge_colour }}">
        <i class="fa fa-envelope"></i>
        {{ limerick.lace_count }}
        LACE{{ limerick.lace_count|pluralize:",s" }} sent
    </div>
    {% if limerick.lace_count > 0 and limerick.lace_set.first.date.year != 1 %}
        <small class="text-muted">Most recent: {{ limerick.lace_set.first.date|date:"j M Y H:m:s" }} ({{ limerick.lace_set.first.date|naturaltime }})</small>
    {% endif %}
</div>
