{% extends "lim/base.html" %}
{% load cache humanize %}

{% block title %}
    Limericks eligible for LACE
{% endblock %}

{% block content %}
    <div class="row">
        These limericks have completed their confirmation countdown.
        You now need to send a Limerick Approval Confirmation Email to the author(s)
        to prompt them to give their final approval to the limericks.
    </div>
    <nav>
        <div class="nav nav-tabs" id="lace-tabs" role="tablist">
            <a class="nav-item nav-link active" id="nav-first-lace-tab" data-toggle="tab" href="#nav-first-lace" role="tab" aria-controls="nav-first-lace" aria-selected="true">Ready for first LACE ({{ first_lace.count }})</a>
            <a class="nav-item nav-link" id="nav-followup-lace-tab" data-toggle="tab" href="#nav-followup-lace" role="tab" aria-controls="nav-followup-lace" aria-selected="false">Ready for followup LACE ({{ followup_lace.count }})</a>
            <a class="nav-item nav-link" id="nav-sent-lace-tab" data-toggle="tab" href="#nav-sent-lace" role="tab" aria-controls="nav-sent-lace" aria-selected="false">Awaiting author approval ({{ lace_sent.count }})</a>
        </div>
        <div class="tab-content" id="lace-tabs-content">
            <div class="tab-pane fade show active" id="nav-first-lace" role="tabpanel" aria-labelledby="nav-first-lace-tab">
                <div class="list-group col-12">
                    <div class="list-group-item">
                        <div class="alert alert-info">
                            You can send an individual limerick's LACE from its workshop page,
                            or send LACEs to all the limericks in this group by clicking the button
                            at the end of the page.
                        </div>
                    </div>
                    {% for limerick in first_lace %}
                        {% include "lim/stc/list-lace-eligible-row.html" with badge_colour="primary" limerick=limerick request=request%}
                    {% endfor %}
                </div>
                <div class="row mt-2 mb-4">
                    <a role="button" id="button-send-first-lace" class="btn btn-primary mr-2 mt-2 {% if first_lace.count == 0 %}disabled{% endif %}" href="{% url 'stc-send-first-lace' %}">
                        <i class="fa fa-envelope"></i> Send {{ first_lace.count }} first LACE{{ first_lace.count|pluralize:",s" }}
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-followup-lace" role="tabpanel" aria-labelledby="nav-followup-lace-tab">
                <div class="list-group col-12">
                    <div class="list-group-item">
                        <div class="alert alert-info">
                            You can send an individual limerick's LACE from its workshop page,
                            or send LACEs to all the limericks in this group by clicking the button
                            at the end of the page.
                        </div>
                    </div>
                    {% for limerick in followup_lace %}
                        {% include "lim/stc/list-lace-eligible-row.html" with badge_colour="secondary" limerick=limerick request=request %}
                    {% endfor %}
                </div>
                <div class="row mt-2 mb-4">
                    <a role="button" id="button-send-followup-lace" class="btn btn-secondary mr-2 {% if followup_lace.count == 0 %}disabled{% endif %}" href="{% url 'stc-send-followup-lace' %}">
                        <i class="fa fa-envelope"></i> Send {{ followup_lace.count }} follow-up LACE{{ followup_lace.count|pluralize:",s" }}
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-sent-lace" role="tabpanel" aria-labelledby="nav-sent-lace-tab">
                <div class="list-group col-12">
                    <div class="list-group-item">
                        <div class="alert alert-info">
                            If you would like to send a LACE for limericks in this section, you may do so directly from their workshop page.
                        </div>
                    </div>
                    {% for limerick in lace_sent %}
                        {% include "lim/stc/list-lace-eligible-row.html" with badge_colour="info" limerick=limerick request=request %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </nav>

{% endblock %}
