{% extends "admin/base_site.html"%}

{% block object-tools %}
    {{ block.super }}
    <form method="post">
        {% csrf_token %}
        <label for="bulk-change-paste">Bulk change words</label><br/>
        <textarea name="bulk-change-paste" id="bulk-change-paste" rows="50" cols="80" style="height: 50ex" required="true"></textarea>
        <p>
            Enter a list of words delimited by semicolons or new lines
            (any lines that start with numbers will have numbers stripped)
        </p>
        <input type="submit" name="action" value="Add words">
        <input type="submit" name="action" value="Remove words">
    </form>
{% endblock %}
