{% extends "lim/base.html" %}
{% load lim humanize rules crispy_forms_tags static %}

{% block head %}
<link href="{% static '3rdparty/trumbowyg/dist/ui/trumbowyg.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static '3rdparty/trumbowyg/dist/trumbowyg.js' %}"></script>
<script src="{% static '3rdparty/preloaders/jquery.preloaders.min.js' %}"></script>
<script src="{% static 'js/ajax-beforesend.js' %}"></script>
<script src="{% static 'js/author-select2.js' %}"></script>
<script src="{% static 'js/trumbowyg_options.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.trumbowyg').trumbowyg(trumbowyg_options);
        startAuthorSelect(formatAuthor, formatAuthorSelection);
        populateAuthorNames();
    });

    {% block populateAuthorNames %}
    function populateAuthorNames() {
        populateAuthor('primary_author', {{ limerick.primary_author_id }}, "{{ limerick.primary_author.username }}");
        {% if limerick.secondary_author %}
            populateAuthor('secondary_author', {{ limerick.secondary_author_id }}, "{{ limerick.secondary_author.username }}");
        {% endif %}
    }
    {% endblock %}

    function populateAuthor(author_ref, author_id, author_name) {
        // Fetch the preselected item, and add to the control
        let authorSelect = $('#id_' + author_ref);
        let option = new Option(author_name, author_id, true, true);
        authorSelect.append(option).trigger('change');
    }

    function reportTrumbowygError(e, form, x, r) {
        if (e.status === 400) {
            form.find('textarea').trumbowyg('destroy');
            form.html(e['responseText']);
            form.find('textarea').trumbowyg(trumbowyg_options);
        } else {
            console.log(e, x, r);
        }
        $.preloader.stop();
    }

    function addRevision(form_id) { // catch the form's submit event
        let form = $('#' + form_id);
        $.preloader.start({modal: true, src: 'sprites2.png'});
        $.ajax({ // create an AJAX call...
            data: form.serialize(), // get the form data
            type: form.attr('method'), // GET or POST
            url: "{% url 'add-revision' '000000' %}".replace('000000', form.find('[name="limerick_id"]').attr('value')),
            success: function(response) { // on success..
                if (response['success']) {
                    document.location.href = response['redirect_url'];
                } else {
                    console.log(response);
                    form.html(response['form_html']);
                    $('.trumbowyg').trumbowyg(trumbowyg_options);
                    startAuthorSelect();
                    populateAuthor('primary_author', response['primary_author']['id'], response['primary_author']['username']);
                    if (response['secondary_author'] !== null) {
                        populateAuthor('secondary_author', response['secondary_author']['id'], response['secondary_author']['username']);
                    }
                    $.preloader.stop();
                }
            },
            error: function(e, x, r) { // on error..
                reportTrumbowygError(e, form, x, r);
            }
        });
        return false;
    }


</script>
{% endblock %}

{% block title %}
Revise limerick #{{limerick.id}}:
<b>{{limerick.formatted_defined_words}}</b>
by {{limerick.latest_revision.author_names}}
{% endblock %}

{% block tableofcontents %}
    {% for revision in limerick.revision_set.all %}
        <a class="list-group-item" href="#revision-{{revision.version}}">Revision {{revision.version}}</a>
    {% endfor %}
{% endblock %}

{% block content %}

{% crispy revision_form %}

    {% for revision in limerick.revision_set.all %}
    <div class="container-fluid">
        <div class="card z-depth-1 mt-3" id="revision-{{revision.version}}" {%if revision == revision.limerick.latest_revision%}id="latest-revision"{%endif%}>
            <div class="card-header">
                {% include "lim/inclusion/revision-header.html" %}
            </div>
            <div class="card-body list-group-flush">
                <div class="list-group-item">
                    {% include "lim/inclusion/revision-body.html" %}
                </div>
                {% for comment in revision.comment_set.all %}
                    {% include 'lim/inclusion/workshop-comment-list-group.html' with comment=comment exclude_comment_edit=True %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endfor %}

{% endblock %}
