{% extends "lim/base.html" %}
{% load static %}

{% block title %}
Author showcases
{% endblock %}

{% block content %}
    <table class="table table-striped" id="author-list">
        <thead>
            <th>Author</th>
            <th>Showcase size</th>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/datatables.min.css"/>
{% endblock %}
m
{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#random-limerick-dropdown').removeClass('d-xl-none');
        $('#scrollspy').removeClass('d-xl-block');
        $('#content').children('div').removeClass('col-xl-9');
        $('#author-list').DataTable({
            order: [[ 1, "desc" ]],
            orderSequence: ["desc", "asc"],
            lengthMenu: [[25, 50, 100], [25, 50, 100]],
            columnDefs: [
                {orderable: true,
                 searchable: true,
                 className: "center",
                 targets: [0, 1]
                }
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            responsive: true,
            ajax: "{% url 'showcases-json' %}"
        });
    })
    </script>
{% endblock %}