{% extends 'lim/base.html' %}
{% load lim %}
{% load rules %}

{% block title %}Profile information for <b>{{ author.user.username }}</b>{% endblock %}

{% block content %}
    {% has_perm 'lim.manage_profile' request.user author.user as can_manage_profile %}

    <div class="row">
        <div class="col-12">
            <div class="card bg-light mb-4 text-center">
    
            <span class="img-fluid text-center mt-2">
                <span class="avatar-list-img150x150">{% lim_gravatar_image author.user 150 scale=True %}</span>
            </span>

                <!-- Card header -->
                <div class="card-body">
                    <h4 class="card-title">{{ author.user.username }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ author.author_rank }}</h6>
                    <p class="card-text">{{ author.biography|safe|linebreaks|urlize }}</p>
                    {% if can_manage_profile %}
                        <a role="button" class="btn btn-primary" href="{% url 'manage-author-profile' author.pk %}">
                            Manage profile
                        </a>
                        <a role="button" class="btn btn-secondary" href="https://www.gravatar.com" target="_blank"
                           title="Manage your profile picture at Gravatar">Manage picture</a>
                    {% endif %}
                    <a role="button" class="btn btn-secondary" href="{% url "account_change_password" %}">Change password</a>
                </div>
            </div>

        </div>
        <div class="col-12">
            <div class="card card-body">

                <!-- Card body -->
                <h4 class="card-title">
                    Membership information
                </h4>

                <dl class="row">
                    <dt class="col-md-3">First submission</dt>
                    <dd class="col-md-9">{{ author.user.date_joined|date:'j M Y H:i' }}</dd>
                    <dt class="col-md-3">Last login</dt>
                    <dd class="col-md-9">{{ author.user.last_login|date:'j M Y H:i' }}<br/></dd>
                    <dt class="col-md-3">Feedback style</dt>
                    <dd class="col-md-9">{{ author.verbose_feedback_style }}</dd>
                    <dt class="col-md-3">Time zone</dt>
                    <dd class="col-md-9">GMT{% if author.time_zone >= 0 %}+{% endif %}{{ author.time_zone }}</dd>
                </dl>

                <div class="row">
                    {% has_perm "lim.is_workshopping_editor" request.user as is_workshopping_editor %}
                    <a class="card-link" href="{% url 'author-showcase' author.pk %}">
                        {{ author.user.username }}'s showcase
                    </a>
                    <a class="card-link" href="{% url 'limericks-by-author' author.pk %}">
                        All {{ author.user.username }}'s limericks
                    </a>
                </div>
                {% has_perm "lim.can_impersonate" request.user as can_impersonate %}
                {% if is_workshopping_editor %}
                    <div class="row mt-1">
                        <a class="btn btn-outline-primary" href="{% url "user-message-new" author.pk %}">
                            Send message to {{ author.user.username }}
                        </a>
                    </div>
                {% endif %}
                {% if can_impersonate and request.user != author.user %}
                    <div class="row mt-1">
                        <a class="btn btn-outline-danger" href="{% url 'impersonate-start' author.user.pk %}"
                           data-toggle="tooltip"
                           title="Pretend to be {{ author.user.username }}. USE WITH EXTREME CAUTION!"
                        >
                            <i class="fa fa-exclamation-triangle"></i>
                            Impersonate {{ author.user.username }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% has_perm 'lim.manage_projects' request.user as can_manage_projects %}
    <div class="row my-4">
        <div class="{% if can_manage_projects %}col-md-8 col-12{% else %}col-12{% endif %}">
            <div class="card card-body">

                <h4 class="card-title">Limerick count (including co-authored limericks)</h4>

                <dl class="row">
                    {% url 'limericks-by-author' author=author.pk as limericks_url %}
                    <dt class="col-6">Submitted</dt>
                    <dd class="col-6"><a href="{{ limericks_url }}">{{ author.live_submitted|floatformat }}</a></dd>
                    <dt class="col-6">Approved</dt>
                    <dd class="col-6"><a
                            href="{{ limericks_url }}?states=Approved">{{ author.live_approved_count|floatformat }}</a>
                    </dd>
                    <dt class="col-6">New</dt>
                    <dd class="col-6"><a
                            href="{{ limericks_url }}?states=New">{{ author.live_new_count|floatformat }}</a></dd>
                    <dt class="col-6">Revised</dt>
                    <dd class="col-6"><a
                            href="{{ limericks_url }}?states=Revised">{{ author.live_revised_count|floatformat }}</a>
                    </dd>
                    <dt class="col-6">Tentative</dt>
                    <dd class="col-6"><a
                            href="{{ limericks_url }}?states=Tentative">{{ author.live_tentative_count|floatformat }}</a>
                    </dd>
                    <dt class="col-6">Confirming</dt>
                    <dd class="col-6"><a
                            href="{{ limericks_url }}?states=Confirming">{{ author.live_confirming_count|floatformat }}</a>
                    </dd>
                    <dt class="col-6">Held</dt>
                    <dd class="col-6"><a
                            href="{{ limericks_url }}?states=Held">{{ author.live_held_count|floatformat }}</a></dd>
                    {% if request.user.is_staff %}
                        <dt class="col-6">Stored</dt>
                        <dd class="col-6"><a
                                href="{{ limericks_url }}?states=Stored">{{ author.live_stored_count|floatformat }}</a>
                        </dd>
                        <dt class="col-6">Excluded</dt>
                        <dd class="col-6"><a
                                href="{{ limericks_url }}?states=Excluded">{{ author.live_excluded_count|floatformat }}</a>
                        </dd>
                    {% else %}
                        <dt class="col-6">Stored</dt>
                        <dd class="col-6">{{ author.live_stored_count|floatformat }}</dd>
                        <dt class="col-6">Excluded</dt>
                        <dd class="col-6">{{ author.live_excluded_count|floatformat }}</dd>
                    {% endif %}
                    <dt class="col-6">Untended</dt>
                    <dd class="col-6"><a
                            href="{{ limericks_url }}?states=Untended">{{ author.live_untended_count|floatformat }}</a>
                    </dd>
                </dl>
                <a href="{% url "feed-author-rss" author.pk %}">
                    <i class="fa fa-rss-square" style="color: rgb(255, 165, 0)"></i>
                    RSS feed of {{ author.user.username }}'s approved limericks
                </a>
            </div>
        </div>
        {% if can_manage_projects %}
            <div class="col-md-4 col-12">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                These buttons will add all this author's New, Tentative and Revised limericks
                                to the appropriate project.
                            </p>
                        </div>
                        <div class="col-12">
                            {% for project in active_projects %}
                                <a class="btn btn-outline-primary"
                                   href="{% url 'add-author-to-project' project.abbreviation author.pk %}">
                                    {{ project.abbreviation }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% has_perm "lim.is_site_editor" request.user as is_site_editor %}
    {% if author.user == request.user or request.user.is_staff or is_site_editor %}
        <div class="row my-4">
            <div class="col-12">
                <div class="card card-body">

                    <!-- Card body -->
                    <h4 class="card-title">Private information</h4>
                    <span class="text-muted small pb-2 mt-0">This section is only visible to you and OEDILF administrators.</span>

                    <dl class="row">
                        <dt class="col-md-3">Real name</dt>
                        <dd class="col-md-9">{{ author.real_name }}</dd>
                        <dt class="col-md-3">Email</dt>
                        <dd class="col-md-9">{{ author.user.email|urlize }}</dd>
                        <dt class="col-md-3">Social media</dt>
                        <dd class="col-md-9">
                            {% for social in author.user.social_auth.all %}
                                {% if social.provider == 'twitter' %}
                                    <a href="https://twitter.com/{{ social.extra_data.access_token.screen_name }}">
                                        <i class="fab fa-twitter"></i> Twitter
                                        (@{{ social.extra_data.access_token.screen_name }})
                                    </a>
                                    <br/>
                                {% elif social.provider == 'facebook' %}
                                    <a href="https://facebook.com/{{ social.extra_data.id }}">
                                        <i class="fab fa-facebook"></i> Facebook ({{ author.user.last_name }})
                                    </a>
                                    <br/>
                                {% endif %}
                            {% endfor %}
                            <br/>
                        </dd>
                        <dt class="col-md-3">Born in</dt>
                        <dd class="col-md-9">{{ author.born_in }}</dd>
                        <dt class="col-md-3">Living in</dt>
                        <dd class="col-md-9">{{ author.living_in }}</dd>
                        <dt class="col-md-3">Biography</dt>
                        <dd class="col-md-9">{{ author.biography|safe|linebreaks|urlize }}<br/></dd>

                        <dt class="col-md-3">Approval emails</dt>
                        <dd class="col-md-9">{{ author.approval_emails|yesno }}</dd>
                        <dt class="col-md-3">New privilege emails</dt>
                        <dd class="col-md-9">{{ author.milestone_emails|yesno }}</dd>
                        <dt class="col-md-3">Newsletters</dt>
                        <dd class="col-md-9">{{ author.news_emails|yesno }}<br/></dd>

                        <dt class="col-md-3">Monitor my limericks</dt>
                        <dd class="col-md-9">{{ notify_changes|yesno }}</dd>
                        <dt class="col-md-3">Monitor comments</dt>
                        <dd class="col-md-9">{{ author.monitor_comments }}</dd>
                        <dt class="col-md-3">Monitor new limericks</dt>
                        <dd class="col-md-9">{{ author.monitor_new|yesno }}</dd>
                        <dt class="col-md-3">See attention calls</dt>
                        <dd class="col-md-9">{{ author.monitor_attention|yesno }}</dd>
                        <dt class="col-md-3">Monitor RFAs</dt>
                        <dd class="col-md-9">{{ author.monitor_rfas }}<br/></dd>

                        <dt class="col-md-3">Text macro buttons</dt>
                        <dd class="col-md-9">{{ author.text_macro_buttons|yesno }}</dd>
                        <dt class="col-md-3">WS page size</dt>
                        <dd class="col-md-9">{{ author.ws_comment_display_limit }}</dd>
                        <dt class="col-md-3">Curtain filtering</dt>
                        <dd class="col-md-9">{{ author.curtain_filtering|yesno }}</dd>
                    </dl>
                    {% if can_manage_profile %}
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'account_set_password' %}" role="button"
                                   class="card-link btn btn-primary waves-effect">
                                    Change password
                                </a>
                                <a href="{% url 'account_email' %}" role="button"
                                   class="card-link btn btn-primary waves-effect">
                                    Manage email address
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}
