{% extends 'lim/base.html' %}
{% load lim %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/../../static/3rdparty/jquery-gmaps-latlon-picker/jquery-gmaps-latlon-picker.css' %}"/>
{% endblock %}


{% block title %}Manage profile information for <b>{{ author.user.username }}</b>{% endblock %}

{% block content %}

{% crispy form %}

{% endblock %}

{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB70NN8YxN-dLvinPPsWwXVgOSIgaoVJp0"></script>
<script src="{% static 'js/../../static/3rdparty/jquery-gmaps-latlon-picker/jquery-gmaps-latlon-picker.js' %}"></script>
<script>
    $(document).ready(function(){
        var div = $('#div_id_feedback_style');
        div.on("shown.bs.collapse", function(){
            // without this, the feedback style box loses its horizontal layout
            div.removeClass('collapse');
        });
        $('input[type=radio][name=feedback_style_standard]').change(function() {
            if (this.value == '7') {
                $('#div_id_feedback_style').collapse('show');
                $('#id_feedback_style').focus();
            } else {
                if (this.value == '3' || this.value == '4') {
                    alert("We recommend against this option.\n\nProhibiting workshopping editors from offering you suggestions severely limits their ability to help you improve your writing and, as a result, it may take significantly longer for your submissions to attain final approval.");
                }
                $('#div_id_feedback_style').collapse('hide');
            }
        });
        if ($('input[type=radio][name=feedback_style_standard][checked]').attr('value') == '7') {
            div.collapse('show');
        } else {
            div.collapse('hide');
        }
        $('.select2').select2({
            theme: 'bootstrap4'
        });
        $("<br/><br/>").insertAfter('div:has(>select)>label');
    });
</script>
{% endblock %}
