{% extends "base.html" %}
{% load rules %}

{% block title %}Grab limerick{% endblock %}

{% block content %}
    {% if grab_type %}
        <div class="alert alert-info">
            There are no
            {% if grab_type.name == "PROJECT" %}
                {{ grab_project.short_description }}
            {% else %}
                {{ grab_type.label }}
            {% endif %}
            limericks available to be grabbed.
        </div>
    {% endif %}

    <p>
        Please choose a type of limerick to grab for workshopping:
    </p>
    <div class="col-12 my-1">
        {% for t in grab_types %}
            <a class="btn btn-outline-{% if t.name == "STC" %}info{% else %}primary{% endif %}" href="{% url 'grab' t.name|lower %}">{{ t.label }}</a>
        {% endfor %}
    </div>
    <div class="col-12 my-1">
        {% for p in grab_projects %}
            <a class="btn btn-outline-primary" href="{% url 'grab' p.abbreviation|lower %}">{{ p.short_description }}</a>
        {% endfor %}
    </div>
{% endblock %}
