{% load static %}
{% load lim %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OEDILF - The Omnificent English Dictionary In Limerick Form</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/v4-shims.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <link href={% static "3rdparty/stylish/vendor/simple-line-icons/css/simple-line-icons.css" %} rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static '3rdparty/stylish/css/stylish-portfolio.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/oedilf-homepage.css' %}" rel="stylesheet">

</head>

<body id="page-top">
<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">OEDILF</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#random-limericks">Random</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#search">Search</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#recently-approved">Recent</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#statistics">Statistics</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="sidebar-nav-item">
                <a href="{% url 'activity' %}">My Activity</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{% url 'limericks-by-author' request.user.author.pk %}">My Limericks</a>
            </li>
        {% else %}
            <li class="sidebar-nav-item">
                <a href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{% url 'account_login' %}">Log In</a>
            </li>
        {% endif %}
    </ul>
</nav>

<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">OEDILF</h1>
        <h3 class="mb-5">
            <em>The Omnificent English Dictionary In Limerick Form</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger mt-1" href="#about">Find Out More</a>
        {% if request.user.is_authenticated %}
            <a class="btn btn-primary btn-xl mt-1" href="{% url 'activity' %}">My Activity</a>
            <a class="btn btn-primary btn-xl mt-1" href="{% url 'limericks-by-author' request.user.author.pk %}">My Limericks</a>
        {% else %}
            <a class="btn btn-primary btn-xl js-scroll-trigger mt-1" href="{% url 'account_signup' %}">Register</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger mt-1" href="{% url 'account_login' %}">Log In</a>
        {% endif %}
    </div>
    <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-primary text-white text-center" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>OEDILF: The Omnificent English Dictionary In Limerick Form</h2>
                <p class="lead mb-5">
                    We are proud to present what we consider to be, on the whole, the absolute finest 5-line AABBA
                    poetry being written in the English-speaking world today.
                </p>
                <p>
                    We are currently accepting submissions based on words beginning with the letters Aa- through {{ alphabet_end|title }}-
                    inclusive ONLY.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-book-open"></i>
            </span>
                <h4>
                    <strong>Comprehensive</strong>
                </h4>
                <p class="text-faded mb-0">Our goal is to write at least one limerick for each meaning of each and every
                    word in the English language.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-thumbs-o-up"></i>
            </span>
                <h4>
                    <strong>Entertaining</strong>
                </h4>
                <p class="text-faded mb-0">Our best limericks will clearly define their words in a humorous or
                    interesting way, although some may provide more entertainment than definition, or vice versa.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-globe"></i>
            </span>
                <h4>
                    <strong>International</strong>
                </h4>
                <p class="text-faded mb-0">We have contributors of all ages, all around the globe.</p>
            </div>
            <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="far fa-handshake"></i>
            </span>
                <h4>
                    <strong>Collaborative</strong>
                </h4>
                <p class="text-faded mb-0">Our unique collegiate editing system helps every author to produce their best
                    work.</p>
            </div>
        </div>
    </div>
</section>

<!-- Random limericks  -->
<section class="callout text-center" id="random-limericks">
    <div class="container col-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-white text-center" style="width: 100%">Random limericks</h2>
                </div>
            </div>
            <div class="row text-left">
                {% for limerick in random_limericks %}
                    {% limerick_home_card limerick %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<!-- Search -->
<section class="content-section bg-success" id="search">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="text-white mb-5">Explore the Limerictionary</h2>
        </div>
        <div class="col-12">
            <form class="form-inline align-center" action="{% url 'search' %}">
                <div class="input-group col-12">
                    <input class="form-control" name="q" type="text" required
                           placeholder="Search for a definition in our {{ stats.total_approved }} limericks"
                           oninvalid="this.setCustomValidity('Please enter something to search for')"
                           oninput="this.setCustomValidity('')"
                           aria-label="Search">
                    <div class="input-group-append">
                        <button class="input-group-text"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <input type="hidden" name="s_l" value="1"/>
                <input type="hidden" name="s_dw" value="1"/>
                <input type="hidden" name="s_an" value="1"/>
                <input type="hidden" name="s_c" value=""/>
            </form>
        </div>
    </div>
</section>

<!-- Callout -->
<section class="callout text-center" id="recently-approved">
    <div class="container col-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-secondary text-center" style="width: 100%">Recently approved limericks</h2>
                </div>
            </div>
            <div class="row text-left">
                {% for limerick in limericks %}
                    {% limerick_home_card limerick %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="statistics">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="text-secondary mb-5">Statistics</h2>
        </div>
        <div class="row no-gutters homepage-statistics">
            <div class="col-lg-6">
                <a class="portfolio-item" href="{% url "limericks-list" %}?states=Approved{% if user.is_authenticated %}%2CNew%2CRevised%2CTentative%2CConfirming%2CUntended{% endif %}">
              <span class="caption d-block w-100 text-center">
                <span class="caption-content">
                  <h2>{{ stats.total_limericks }}</h2>
                  <p>limericks submitted</p>
                </span>
              </span>
                    <img class="img-fluid" src="{% static '3rdparty/stylish/img/typewriter-keyboard-1523624-700x468.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{% url "limericks-list" %}?states=Approved">
              <span class="caption d-block w-100 text-center">
                <span class="caption-content">
                  <h2>{{ stats.total_approved }}</h2>
                  <p>limericks approved</p>
                </span>
              </span>
                    <img class="img-fluid" src="{% static '3rdparty/stylish/img/dick-shawn-airy-1197837-700x467.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{% url "limericks-list" %}?states=Approved">
              <span class="caption d-block w-100 text-center">
                <span class="caption-content">
                  <h2>{{ stats.total_unique_words }}</h2>
                  <p>unique words</p>
                </span>
              </span>
                    <img class="img-fluid" src="{% static '3rdparty/stylish/img/ac2b49e851795f3dbd340f16f59ac9c0.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 text-center">
                <a class="portfolio-item" href="{% url 'authors' %}">
              <span class="caption d-inline-block w-100 text-center">
                <span class="caption-content">
                  <h2>{{ stats.total_authors }}</h2>
                  <p>members</p>
                </span>
              </span>
                    <img class="img-fluid" src="{% static '3rdparty/stylish/img/laughter-1-1464477-700x467.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer text-center bg-primary text-white">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://facebook.com/OEDILF">
                    <i class="icon-social-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/OEDILF">
                    <i class="icon-social-twitter"></i>
                </a>
            </li>
        </ul>
        <p class="text-light small">
            The lighthouse pictured at the top of the page is Sankaty Head Light, Nantucket, Massachusetts.
            <br/>
            It was chosen as a mascot for The OEDILF because of the famous limerick
            beginning <i>"There was a young girl of Nantucket"</i>.
            <br/>
            Credit for this photo goes to
            <a href="http://shellchicd.com/2014/03/05/nantucket-in-the-winter-part-three-exploring-the-frozen-island/"
               class="text-secondary text-underline"
            >
                Emily at Shell Chic'd
            </a>
        </p>
        <p class="text-light small">
            The bridge pictured behind the "Random Limericks" section
            is the Living Bridge at the University of Limerick.
            <br/>
            Source:
            <a href="https://www.arup.com/projects/living-bridge"
               class="text-secondary text-underline"
            >
                Arup
            </a>
        </p>
        <p class="text-light small">
            The castle pictured behind the "latest approved limericks" section is Limerick Castle.
            The provenance of this picture is unknown.
        </p>
        <p class="text-light small">
            Other pictures are in the public domain.
        </p>
        <p class="text-light small mb-0">Copyright &copy; The OEDILF 2018</p>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<!-- Plugin JavaScript -->
<script src={% static "3rdparty/stylish/vendor/jquery-easing/jquery.easing.min.js" %}></script>

<!-- Custom scripts for this template -->
<script src="{% static "3rdparty/stylish/js/stylish-portfolio.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="{% static 'js/clipboard.js' %}"></script>

</body>

</html>
