{% extends "lim/limerick-list.html" %}
{% load static lim %}

{% block scripts %}
{{ block.super }}
<script>
    function reloadSearchResults(source) {
        var checked = [];
        $("input:checkbox[name='state']:checked").each(function(){
            checked.push($(this).val());
        });
        var url = "{% url 'ajax-limerick-by-topic-with-toc' topic_pk %}";
        $(source).siblings('span[class="spinner"]').attr('style', 'display:inline');
        $(source).siblings('span[class="title"]').attr('style', 'display:none');
        $.ajaxq({
            url: url,
            type: 'get',
            data: {
                "states": checked.join(','),
                "topic_id": "{{ topic_pk }}",
                "page": {{page}},
            },
            success: function(data) {
                updateResults(data, source, checked);
            },
            failure: function(x) {
                console.log("Failed", x);
            }
        });
    }


</script>
{% endblock %}

{% block explore %}
    <dl class="row w-100 mt-2">
        <dt class="col-2 text-right">Parent topics:</dt>
        <dd class="col-10">
            {% if not topic.is_root %}
                {% topic_badge topic.get_parent %}
            {% endif %}
        </dd>
        <dt class="col-2 text-right">Sibling topics:</dt>
        <dd class="col-10">
            {% for sibling in topic.get_siblings %}
                {% if sibling == topic %}
                    {% topic_badge sibling style="primary" %}
                {% else %}
                    {% topic_badge sibling %}
                {% endif %}
            {% empty %}
                <span class="text-muted">(none)</span>
            {% endfor %}
        </dd>
        <dt class="col-2 text-right">Child topics:</dt>
        <dd class="col-10">
            {% for child in topic.get_children %}
                {% topic_badge child %}
            {% empty %}
                <span class="text-muted">(none)</span>
            {% endfor %}
        </dd>
    </dl>
{% endblock %}
