{% extends "lim/base.html" %}
{% load lim %}
{% load static %}
{% load rules %}

{% block title %}
{{ title|safe }}
{% endblock %}

{% block tableofcontents %}
<div id="table-of-contents">
    {% include "lim/limerick-list-toc-ajax.html" %}
</div>
{% endblock %}

{% block content %}

{% block state_filter %}
<!-- Filter by state -->
<form action="" id="state-form">
    <div class="btn-group d-md-flex" role="group" aria-label="Limerick states" data-toggle="buttons" id="state-buttons">
        {% for state in state_buttons %}
            <div class="btn-group btn-group-toggle btn-group-sm pb-3 w-100" role="group">
                <label class="btn btn-light waves-effect waves-light z-depth-0 mx-0 w-100 {% if state in states %}active{% endif %}">
                    <input onchange="reloadSearchResults(this);"
                           name="state"
                           type="checkbox"
                           value="{{ state.name.title }}"
                           autocomplete="off"
                           {% if state in states %}checked{% endif %}>
                    <span class="title" id="state-filter-title-{{ state.name.lower }}">
                        <i class="state-button-glyph fa fa-{% if state in states %}check{% else %}times{% endif %}"></i>
                        {{ state.name.title }}
                    </span>
                    <span class="spinner" style="display:none"><i class="fa fa-sync fa-spin"></i></span>
                </label>
            </div>
        {% endfor %}
    </div>
</form>
{% endblock %}

{% block sort_by %}
{% endblock %}

{% block search_results %}
<div class="container" id="search-results">
    {% if ajax_path %}
        {% include ajax_path %}
    {% else %}
        {% include 'lim/limerick-list-ajax.html' %}
    {% endif %}
</div>
{% endblock %}

{% block explore %}
{% endblock %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
<script src="{% static 'js/../../static/3rdparty/jquery.ajaxq/jquery.ajaxq.min.js' %}"></script>
<script src="{% static 'js/ajax-beforesend.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="{% static 'js/clipboard.js' %}"></script>
<script src="{% static '3rdparty/waypoints/jquery.waypoints.min.js' %}"></script>
<script>
    // dynamically load limerick cards with Waypoint
    function prepareWaypoints() {
        var limerickWaypoints = $('.waypoint');
        limerickWaypoints.waypoint({
            offset: "100%",
            handler: function() {
                var el = $(this.element);
                $.ajax({
                    method: "GET",
                    url: "{% url "ajax-limerick" "000000" %}".replace("000000", el.attr("data-limerick-id")),
                    success: function(response) {
                        el.html(response["html"]);
                    }
                });
            }
        });
    }
    $(document).ready(function() {
        prepareWaypoints();
    })


</script>
<script>
$.endlessPaginate({
    pageSelector: 'div#search-results',
    onCompleted: function(context) {
        var currentPage = URI(context.url).search(true)['page'];
        var uri = URI(document.location)
            .removeSearch('page')
            .addSearch('page', currentPage);
        history.replaceState(uri, '{{title}}', uri.toString());
    }
});

function add_to_showcase(limerick) {
    var url = "{% url 'showcase-list' %}";
    $.ajax({
        url: url,
        type: 'POST',
        data: {
            limerick: "{% url 'limerick-detail' '000000' %}".replace("000000", limerick)
        },
        success: function(event) {
            $("#manage-showcase-button-" + limerick)
                .html("Remove from showcase")
                .attr('href', "javascript:remove_from_showcase('" + limerick + "'," + event['pk'] + ");");
            $("#showcase-badge-" + limerick).attr("class", "visible");
        },
        failure: function(errMsg) {
            console.log("failure: ");
            console.log(errMsg)
        }
    });
}
function remove_from_showcase(limerick, showcase) {
    console.log(limerick, showcase)
    var url = "{% url 'showcase-detail' '000000' %}".replace("000000", showcase);
    $.ajax({
        url: url,
        type: 'DELETE',
        success: function(event) {
            $("#manage-showcase-button-" + limerick)
                .html("Add to showcase")
                .attr('href', "javascript:add_to_showcase('" + limerick + "');");
            $("#showcase-badge-" + limerick).attr("class", "invisible");
        },
        failure: function(errMsg) {
            console.log("failure: ");
            console.log(errMsg)
        }
    });
}
function updateResults(data, source, checked) {
    if (data['success']) {
        $("#search-results").html(data['html']);
        $("#table-of-contents").html(data['toc']);
        var uri = URI(document.location)
            .removeSearch('states')
            .addSearch('states', checked.join(','));
        $(source).siblings('span[class="spinner"]').attr('style', 'display:none');
        $(source).siblings('span[class="title"]').attr('style', 'display:inline');
        history.replaceState(uri, '{{title}}', uri.toString());
        var sb = $("#state-buttons");
        sb.find(":checked").siblings(".title").find(".state-button-glyph").removeClass("fa-times").addClass("fa-check");
        sb.find(":checkbox:not(:checked)").siblings(".title").find(".state-button-glyph").removeClass("fa-check").addClass("fa-times");
        prepareWaypoints();
    }
}

$(window).resize(function() {
  var group = $('#state-form div');
  if ($(window).width() < 768) {
    group.removeClass('btn-group');
    group.addClass('btn-group-vertical');
  } else {
    group.addClass('btn-group');
    group.removeClass('btn-group-vertical');
  }
});
</script>
{% endblock %}
