{% load el_pagination_tags %}
{% load lim %}

{% paginate 20 limericks starting from page page %}
{% get_pages %}
{% for limerick in limericks %}
    {% limerick_waypoint_card limerick %}
{% empty %}
    <div class="row">
        <div class="col-12">
            <h2>No limericks found.</h2>
        </div>
    </div>
{% endfor %}

{% if limericks.count > 1 %}
    <div class="row">
        <div class="card col-12 z-depth-1">
            <div class="card-body">
                {% lim_el_pagination pages.current pages.last %}
            </div>
        </div>
    </div>
{% endif %}
