{% load el_pagination_tags %}
{% load lim %}

{% if author.user == request.user %}
    <a class="btn btn-primary" role="button" href="{% url 'manage-showcase' author.pk %}">Manage showcase</a>
{% endif %}

{% paginate 20 showcase starting from page page %}
{% get_pages %}

{% for entry in showcase %}
    <div class="row">
        <div class="container-fluid col-12">
            {% include "lim/cards/limerick-waypoint-card.html"  with limerick=entry.limerick%}
        </div>
    </div>
{% empty %}
    <div class="row">
        <div class="col-12">
            <h2>Showcase is empty</h2>
        </div>
    </div>
{% endfor %}

{% if showcase_len > 20 %}
    <div class="row">
        <div class="card col-12 z-depth-1">
            <div class="card-body">
                {% lim_el_pagination pages.current pages.last %}
            </div>
        </div>
    </div>
{% endif %}

