{% load el_pagination_tags %}
{% load lim %}

{% paginate 20 limericks starting from page page %}
{% get_pages %}
{% for limerick in limericks %}
    <a class="list-group-item text-truncate" href="#limerick-{% limerick_pk limerick %}">
        <small class="text-muted">#{% limerick_pk limerick %}</small>
        {{ limerick.formatted_defined_words }}
    </a>
{% endfor %}
