{% extends "lim/limerick-list.html" %}
{% load static %}

{% block tableofcontents %}
<div id="table-of-contents">
    {% include "lim/limerick-list-showcase-toc-ajax.html" %}
</div>
{% endblock %}

{% block search_results %}
<div class="container" id="search-results">
    {% if ajax_path %}
        {% include ajax_path %}
    {% else %}
        {% include 'lim/limerick-list-ajax.html' %}
    {% endif %}
</div>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script>
    function reloadSearchResults() {
        var checked = [];
        $("input:checkbox[name='state']:checked").each(function(){
            checked.push($(this).val());
        });
        // noinspection Annotator
        var url = "{% url 'author-showcase-toc' user.author.pk %}";
        $.ajaxq({
            url: url,
            type: 'get',
            data: {
                "page": {{page}},
            },
            complete: function(qXHR, textStatus) {
                if (textStatus === 'success') {
                    $("#table-of-contents").html(qXHR.responseText);
                }
            }
        });
        $.ajaxq({
            url: url,
            type: 'get',
            data: {
               "page": {{page}},
            },
            complete: function(qXHR, textStatus) {
                if (textStatus === 'success') {
                    $("#search-results").html(qXHR.responseText);
                    var uri = URI(document.location)
                        .removeSearch('states')
                        .addSearch('states', checked.join(','));
                    history.replaceState(uri, '{{title}}', uri.toString());
                }
            }
        });
    }
</script>
{% endblock %}
