{% load el_pagination_tags %}
{% load lim %}

{% paginate 20 showcase starting from page page %}
{% get_pages %}
{% for sc in showcase %}
    <a class="list-group-item text-truncate" href="#limerick-{% limerick_pk sc.limerick %}">
        <small class="text-muted">#{% limerick_pk sc.limerick %}</small>
        {{ sc.limerick.formatted_defined_words }}
    </a>
{% endfor %}
