{% extends "lim/limerick-list.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load rules %}
{% load oxford_comma %}

{% block title %}Search results for {% if q %}<b>{{ q|safe }}</b>{% else %}limericks {{ search_summary.0 }}{% endif %}{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static '3rdparty/preloaders/jquery.preloaders.min.js' %}"></script>
<script src="{% static 'js/author-select2.js' %}"></script>
<script>
    function reloadSearchResults(source) {
        var checked = [];
        $("input:checkbox[name='state']:checked").each(function(){
            checked.push($(this).val());
        });
        var url = "{% url 'limericks-search-results-ajax' %}";
        $(source).siblings('span[class="spinner"]').attr('style', 'display:inline');
        $(source).siblings('span[class="title"]').attr('style', 'display:none');
        $.ajaxq({
            url: url,
            type: 'get',
            data: {
                "states": checked.join(','),
                "page": {{page}},
                "q": encodeURI("{{ q|escapejs }}"),
                "search_comments": {{ search_comments|lower|default:"false" }},
                "search_definedword": {{ search_definedword|lower|default:"false" }},
                "search_author_notes": {{ search_authornotes|lower|default:"false" }},
                "search_limerick": {{ search_limerick|lower|default:"false" }}
            },
            success: function(data) {
                updateResults(data, source, checked);
            }
        });

    }

    function showProjectModal(project) {
        var modal = $('#addToProjectModal');
        modal.find('#addToProjectModalProjectAbbrev').html(project);
        modal.modal('show');
    }
    $('#addToProjectModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        var project_abbreviation = modal.find('#addToProjectModalProjectAbbrev').html();
        modal.find('#modal-add-to-project-button').attr('href', 'javascript:addToProject("' + project_abbreviation + '");');
    });
    function addToProject(project) {
        $('#addToProjectModal').modal('hide');
        $.ajax({
            url: "{% url 'add-search-to-project' '000000' %}".replace('000000', project),
            method: 'post',
            data: {
                "q": "{{ q|escapejs }}",
                "s_l": "{{ s_l }}",
                "s_an": "{{ s_an }}",
                "s_c": "{{ s_c }}",
                "s_dw": "{{ s_dw }}",
                "project": project,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            success: function(response) {
                $('#toast-limericks-added-body').html(response["message"]).attr('class', 'toast-body ' + response["class"]);
                $('#toast-limericks-added-title').html(response["title"]);
                $('#toast-limericks-added').toast('show');
            }
        })
    }
     /**
      * sends a request to the specified url from a form. this will change the window location.
      * https://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
      * @param {string} path the path to send the post request to
      * @param {object} params the paramiters to add to the url
      * @param {string} [method=post] the method to use on the form
      */
    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

    $(document).ready(function() {
        $("select").select2();
        startAuthorSelect(formatAuthor, formatAuthorSelection);
        {% if a %}
            $('#id_a').append(new Option('{{ a__username|escapejs }}', {{ a }}, true, true)).trigger('change');
        {% endif %}
        {% if c_by %}
            $('#id_c_by').append(new Option('{{ c_by__username|escapejs }}', {{ c_by }}, true, true)).trigger('change');
        {% endif %}
    });

</script>
{% endblock %}

{% block toast %}
    <div aria-live="polite" aria-atomic="true" style="position: fixed-top; min-height: 200px">
        <!-- Position it -->
        <div style="position: fixed; top: 75px; right: 25px;">

            <div class="toast" role="alert" aria-live="polite" aria-atomic="true" id="toast-limericks-added" data-delay="10000">
                <div class="toast-header">
                    <strong class="mr-auto" id="toast-limericks-added-title">Limericks added</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" id="toast-limericks-added-body">
                    Limericks added to project!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block search_results %}
{{ block.super }}
{% has_perm "lim.manage_projects" request.user as can_manage_projects %}
{% if can_manage_projects and limericks.count > 0 %}

    <div class="row m-2 col-12">
        <div class="card mt-3 border-primary">
            <h6 class="card-header">Add search results to project</h6>
            <div class="card-body">
                <p>
                    Clicking one of these buttons
                    will add all the workshoppable limericks in your search results
                    into that project.
                </p>
            </div>
            <div class="card-footer">
                {% for project in active_projects %}
                    <a class="btn btn-outline-primary" href="javascript:showProjectModal('{{ project.abbreviation }}')"
                       data-toggle="tooltip" title="Add to {{ project.short_description }}"
                    >
                        <i class="fa fa-plus-square"></i>
                        Add all to {{ project.abbreviation }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% if search_in_fields|length == 0 %}
    <div class="alert alert-warning">
        You did not specify anywhere to search!
    </div>
{% else %}
<p>
    {% spaceless %}
        We searched for
        {% if q %}
            "<b>{{ q|safe }}</b>"
            in {% oxford_join search_in_fields strip_empty=True %}{% if search_summary %}; we looked for {{ search_summary|join:", " }}{% endif %}.
        {% else %}
            limericks {{ search_summary|join:", " }}.
        {% endif %}
    {% endspaceless %}
    <a href="#refine-search">Refine this search</a>
</p>
{% endif %}
{{ block.super }}
<div class="modal fade" id="addToProjectModal" tabindex="-1" role="dialog" aria-labelledby="addToProjectLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToProjectLabel">Add all search results to the project?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold">Are you sure you want to add all these limericks to the <span id="addToProjectModalProjectAbbrev"></span> project?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a role="button" id="modal-add-to-project-button" href="#" class="btn btn-danger">Yes, add to project</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block explore %}
    <a id="refine-search"></a>
    {% crispy form %}
{% endblock %}
