{% extends 'lim/base.html' %}
{% load static %}

{% block head %}
<!-- jsDelivr :: Sortable (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>

{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="card mb-1 pt-2">
    <div class="row">
        <div class="col-1">
            <p class="h1 text-center"><i class="fas fa-info-circle"></i></p>
        </div>
        <div class="col-11">
            <p>
                You have {{ showcase.count }} limericks in your Showcase
                of a possible {{ author.showcase_quantity }} ({% widthratio author.showcase_percentage  1 100 %}%).
            </p>

            <p>
                You may include extra limericks here, but they may not be shown to visitors.
            </p>

            <p>
                Any extra limericks may be shown if you have curtained limericks in your top {{ showcase.count }}
                and your Showcase is viewed by someone who has the curtain filter active.
            </p>
            <p class="card-link">
                <a href="{% url 'author-showcase' author.user.pk %}">View showcase</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="list-group" id="showcase">
            {% for entry in showcase %}
                {% with limerick=entry.limerick %}
                <div class="list-group-item text-truncate" data-showcase="{{entry.pk}}">
                    <span class="drag-handle mr-1 blue-text"><i class="fa fa-bars"></i> </span>
                    <span class="float-right ml-1 blue-text">
                        <a href="{% url 'limerick' limerick.pk %}">
                            <i class="fa fa-share"></i>
                        </a>
                    </span>
                    <span class="text-muted">#{{limerick.pk}}</span>
                    <span class="h6">
                        {% firstof limerick.title limerick.formatted_defined_words %}
                    </span>
                    <span class="text-muted">
                        {# We don't filter through linebreak #}
                        {{ limerick.latest_revision.verse }}
                    </span>
                {% endwith %}
            </div>
            {% empty %}
            <h4>You have no limericks in your showcase.</h4>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/ajax-beforesend.js' %}"></script>
<script>
$(document).ready(function() {
    // noinspection Annotator
    Sortable.create(showcase, {
        handle: ".drag-handle",
        onEnd: function(e) {
            var itemEl = e.item;
            var url = "{% url 'showcase-detail' '000000' %}".replace('000000', itemEl.getAttribute('data-showcase'));
            // noinspection Annotator
            $.ajax({
                url: url,
                type: 'PATCH',
                data: {
                    showcase: itemEl.getAttribute('data-showcase'),
                    order: e.newIndex,
                },
                failure: function(errMsg) {
                    console.log("failure: " + errMsg);
                }
            });

        }
    });
});
</script>
{% endblock scripts %}
