{% load lim %}
{% load humanize %}

<!-- Card header -->
<h6 class="dropdown-header">
    {{ message_count }} notification{{message_count|pluralize}}
    {% if message_count > 0 %}
        ({{new_message_count}} unseen)
    {% endif %}
</h6>
{% for message in activity %}
<div class="dropdown-divider"></div>
<a class="dropdown-item" {%if not message.seen%}style="background-color: #ffff88"{%endif%}
   href="{%if message.revision%}{%url 'workshop' message.revision.limerick.pk%}{%else%}#{%endif%}">
    <div class="row">
        <div class="col-3">
            {% lim_gravatar_image message.source 40 %}
        </div>
        <div class="col-9">
            <div>{{ message.source.username }}</div>
            <div class="badge badge-info waves-effect">{{ message.message_type }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="font-bold">{{ message.revision.limerick.formatted_defined_words }}</div> <br/>
            <span class="grey-text small">{{ message.date_time|naturaltime }}</span>
        </div>
    </div>
</a>
{% endfor %}
{% if activity.count > 0 %}
    <div class="dropdown-divider"></div>
{% endif %}
<a class="dropdown-item font-bold" href="{% url 'activity' %}">
    <div class="media-body">
        <h6 class="font-bold">My activity</h6>
    </div>
</a>
