{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Search{% endblock %}

{% block content %}
{% crispy form %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/ajax-beforesend.js' %}"></script>
<script src="{% static 'js/author-select2.js' %}"></script>
<script>
    $(document).ready(function() {
        $("select").select2();
        startAuthorSelect(formatAuthor, formatAuthorSelection);
    });
</script>
{% endblock %}
