{% extends "lim/base.html" %}
{% load lim %}
{% load static %}
{% load rules %}

{% block title %}
    {{ title|safe }}
{% endblock %}

{% block tableofcontents %}
{% endblock %}

{% block content %}
    <div class="row col-12">
        <table class="table table-striped w-100" id="tags-table">
            <thead>
            <tr>
                {% if request.user.is_superuser %}
                    <th scope="col" class="col-lg-4">Tag</th>
                    <th scope="col" class="col-lg-4">Author</th>
                    <th scope="col" class="col-lg-2">Limericks</th>
                    <th scope="col" class="col-lg-2">Action</th>
                {% else %}
                    <th scope="col" class="col-lg-5">Tag</th>
                    <th scope="col" class="col-lg-5">Limericks</th>
                    <th scope="col" class="col-lg-2">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr scope="row" id="tag-row-{{ tag.pk }}">
                    <td class="col-md-5">{{ tag.text }}</td>
                    {% if request.user.is_superuser %}
                        <td>{{ tag.author.username }}</td>{% endif %}
                    <td class="col-md-5">
                        <a href="{% url 'limericks-by-tag' tag.pk %}">
                            {{ tag.limericks.count }}
                        </a>
                    </td>
                    <td class="col-md-2">
                        <a role="button" id="button-delete-tag" class="btn btn-danger mr-1" href="#" data-toggle="modal" data-target="#deleteTagModal" data-tag_pk="{{ tag.pk }}" data-tag_text="{{ tag.text }}" data-tag_number="{{ tag.limericks.count }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr scope="row">
                    <td colspan="{% if request.user.is_superuser %}4{% else %}3{% endif %}">
                        <span class="alert alert-info">
                            You have no personal tags
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="deleteTagModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteTagLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTagLabel">Approve limerick directly?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-bold">
                        Are you sure you want to remove the tag <b><span id="tag-text">tag_text</span></b>
                        from <span id="tag-number">n</span> limericks
                        and delete the tag?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a role="button" id="modal-delete-tag-button" href="#" class="btn btn-danger">Yes</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script type="text/javascript"
            src="{% static '3rdparty/johnpolacek-stacktable.js-25ca16a/stacktable.js' %}"></script>
    <script src="{% static 'js/ajax-beforesend.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#tags-table').stacktable();
        });

    $('#deleteTagModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var tag_pk = button.data('tag_pk');
        var modal = $(this);
        modal.find("#tag-number").html(button.data("tag_number"));
        modal.find("#tag-text").html(button.data("tag_text"));
        modal.find('#modal-delete-tag-button').attr('href', 'javascript:deleteTag(' + tag_pk + ');');
    });

    function deleteTag(tag_pk) {
        $.ajax({
            url: "{% url 'tag-detail' '000000' %}".replace("000000", tag_pk),
            method: "DELETE",
            success: function() {
                $("#tag-row-" + tag_pk).remove();
            },
            failure: function(err) {
                console.log(err);
            }
        });
        $('#deleteTagModal').modal('toggle');
    }

    </script>

{% endblock scripts %}
