{% extends "base.html" %}
{% load lim static rules crispy_forms_tags %}

{% block head %}
    <link href="{% static '3rdparty/trumbowyg/dist/ui/trumbowyg.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static '3rdparty/trumbowyg/dist/trumbowyg.js' %}"></script>
<script>
   trumbowyg_options = {
            semantic: false,
            btns: [
                ['undo', 'redo'],
                ['bold', 'italic', 'underline', 'strike'],
                ['superscript', 'subscript'],
                ['unorderedList', 'orderedList'],
                ['removeformat'],
                ['viewHTML'],
                ['fullscreen'],
            ],
            removeformatPasted: true,
        };

    $(document).ready(function () {
        $('.trumbowyg').trumbowyg(trumbowyg_options);
    })

</script>
{% endblock %}

{% block content %}
    {% if message %}
        <div class="row mb-3">
            <div class="card w-100">
                <div class="card-header">
                    <span class="card-title">
                        Message from {{ message.source.username }}
                    </span>
                </div>
                <div class="card-body">
                    {{ message.data }}
                </div>
                <div class="card-footer">
                    Sent:
                    {{ message.date_time }}
                </div>
            </div>
        </div>
    {% endif %}


{% crispy form %}

    {% if message %}
        <div class="row">
            <span class="small text-muted">
                When you send this message,
                the message to which you are replying will be removed from your Activity List.
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {% if message %}
        Message from <b>{{ destination_author }}</b>
    {% else %}
        New message to <b>{{ destination_author }}</b>
    {% endif %}
{% endblock title %}