{% load el_pagination_tags %}
{% load lim %}

{% paginate 100 requiredword_list starting from page page %}
{% get_pages %}

<div class="hidden" style="display:none">
    <div class="list-group row col-12" id="wlll">
        {% for word in requiredword_list %}
            <a class="list-group-item list-group-item-action" href="https://onelook.com/?w={{ word.word_text|urlencode }}" target="_blank">
                {{ word.word_text }}
            </a>
        {% endfor %}
    </div>
</div>

{% if requiredword_list|length_is:0 %}
    <div class="alert alert-success">All words in that range have been limericked</div>
{% endif %}

<div id="wlll-md" class="d-none d-md-block"></div>
<div id="wlll-sm" class="d-none d-sm-block d-md-none"></div>
<div id="wlll-xs" class="d-block d-sm-none"></div>

<div class="row">
    <div class="col-12">
        <div class="card-body">
            {% if requiredword_list.count >= 100 %}
                {% lim_el_pagination pages.current pages.last %}
            {% endif %}
        </div>
    </div>
</div>
