{% extends "lim/base.html" %}
{% load lim %}
{% load static %}
{% load rules %}
{% load solo_tags %}

{% block title %}
{{ title|safe }}
{% endblock %}

{% block tableofcontents %}
{% endblock %}

{% block content %}

    {% get_solo "lim.SiteSettings" as site_settings %}

    {% block sort_by %}
    {% endblock %}

    <div class="alert alert-info">

        <p>Provided you select words starting within the OEDILF's current alphabetical range (Aa-{{ site_settings.alphabet_end|title }}), every word in any reputable English dictionary is fair game.</p>
        <p>How to select a word:</p>
        <ol>
            <li>Check for any words in the table below. Some of these may be variants of words already in the database, so please check first.</li>
            <li>Check the existing limericked words for completeness of definition. Start at a random letter and look for words that you know have multiple meanings.</li>
            <li>Browse through other reputable paper or online dictionaries, scanning for words with multiple definitions. Check that we have the main meanings of each word covered.</li>
            <li>Please put the singular form of nouns or the present tense of verbs into the WD box regardless of what form of your defined word you use in your limerick.</li>
        </ol>

        <p>Check the notes at the bottom of the page for more guidance on words to choose or not to choose.</p>

    </div>

    {% block search_results %}
    <div class="container" id="search-results">
        {% if ajax_path %}
            {% include ajax_path %}
        {% else %}
            {% include 'lim/word-list-ajax.html' %}
        {% endif %}
    </div>
    {% endblock %}

    {% block explore %}
    {% endblock %}

    <div>
        <p>We have undergone much debate and discussion over what we call "red car WDs." These are multi-word phrases where the definition would seem to be obvious to anyone understanding the definitions of the individual words of the phrase. The classic example would be the term <i>red car</i>. Since the definitions of <i>red</i> and <i>car</i> are well known, <i>red car</i> itself would be an unacceptable WD. By way of a shortcut in deciding the red-carness of a phrase, if the term is included in a reputable dictionary it's fine for our use as well.</p>

        <p>Words not to use:</p>
        <ul>
            <li>Proper first or last names when not associated with actual people. <i>Einstein, Albert</i> would be fine, but just <i>Albert</i> would not.</li>
            <li>"Sniglets." Any word specifically coined to be the punchline of a joke.</li>
            <li>"Family" words. If you grew up calling a baby's pacifier a <i>bobber</i>, for example, that would not make for an acceptable WD unless it was supported by some reputable dictionary.</li>
            <li>Common phrases that start with an unimportant introductory word, e.g., <i>all sweetness and light</i> is not a valid WD because all is not an essential part of the phrase; this WD should be simply <i>sweetness and light</i>. Consult other dictionaries as a guide for making such determinations.</li>
        </ul>

        <p>Words to avoid:</p>
        <ul>
            <li>Obscure acronyms, initialisms, and abbreviations. There are enough of these to fill several dictionaries.</li>
            <li>Obscure proper names. A single mention in a biblical genealogy, for example, doesn't make the individual famous enough to be a strong prospect for inclusion in the OEDILF.</li>
            <li>Definitions of words already covered <i>unless</i> you feel you can improve on what is already in the database.</li>
        </ul>

        <p>Other lists of suitable words:</p>
            <ul>
                <li><a href="{% url 'words-not-done' %}">All words in the current range.</a></li>
                <li>
                    Words and word variants beginning with:
                    <a href="{% url 'words-not-done' %}?prefix=non-letter">Non-letters</a>;
                    {% for pair in letter_pairs %}
                        <a href="{% url 'words-not-done' %}?prefix={{ pair }}">{{ pair }}</a>{% if forloop.revcounter0 != 0 %}; {% else %}. {% endif %}
                    {% endfor %}
                </li>
            </ul>

        <p>Check for words that limerick writers have abandoned in <a href="#">Summary of untended limericked words.</a></p>
        <p>Check <a href="{% url 'words-summary-by-prefix' %}">The Summary of limericked words</a> to see whether any are not yet adequately covered.</p>
        <p>More obscure words are likely to be omitted from any abridged publication of The OEDILF.</p>

        <p><b><i>ADVISORY:</i> Not all the words listed here will be acceptable as WDs (Words Defined) in The OEDILF. This list is made up from several sources but none of them are specifically tailored to our unusual needs and while we do try to weed out the unusable, unacceptable WDs will occasionally slip through. <i>Before you begin writing,</i> it is important that you confirm the validity of your WD. OneLook.com is our primary source for this but any reputable dictionary will do as well.</b></p>
    </div>

{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
<script src="{% static '3rdparty/jquery.ajaxq/jquery.ajaxq.min.js' %}"></script>
<script src="{% static 'js/ajax-beforesend.js' %}"></script>
<script src="{% static '3rdparty/jquery.columnizer.min.js' %}"></script>
<script>
$.endlessPaginate({
    pageSelector: 'div#search-results',
    onCompleted: function(context) {
        var currentPage = URI(context.url).search(true)['page'];
        var uri = URI(document.location)
            .removeSearch('page')
            .addSearch('page', currentPage);
        history.replaceState(uri, '{{title}}', uri.toString());
    }
});
// Create the illusion of responsive columns
// by cloning the real thing and columnizing
$("#wlll").clone().appendTo("#wlll-md");
$("#wlll").clone().appendTo("#wlll-sm");
$("#wlll").clone().appendTo("#wlll-xs");
$("#wlll-md").columnize({columns: 4});
$("#wlll-sm").columnize({columns: 2});


</script>
{% endblock %}
