{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row w-100">
        <p><a href="#prefix-chart-container">See a chart of distributions</a></p>
        <table id="summary-table" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">{% if word_column_name %}{{ word_column_name }}{% else %}Word{% endif %}</th>
                    <th scope="col">Approved / Confirming</th>
                    <th scope="col">New / Revised / Tentative</th>
                    <th scope="col">Untended</th>
                    <th scope="col">Held / Stored / Excluded</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for word, value in word_data.items %}
                    <tr scope="row">
                        <td>{{ word }}</td>
                        <td class="text-right">{{ value.approved }}</td>
                        <td class="text-right">{{ value.in_progress }}</td>
                        <td class="text-right">{{ value.untended }}</td>
                        <td class="text-right">{{ value.excluded }}</td>
                        <td class="text-right">{{ value.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row w-100">
        <div id="prefix-chart-container"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static '3rdparty/johnpolacek-stacktable.js-25ca16a/stacktable.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
        $(document).ready(function(){
            $('#summary-table').stacktable();
            Highcharts.chart('prefix-chart-container', {
                chart: {
                    type: "bar",
                    height: "3000px"
                },
                plotOptions: {
                    bar: {
                        stacking: "normal"
                    }
                },
                title: {
                    text: "Defined Word Prefixes by Limerick State"
                },
                xAxis: {
                    categories: [
                        {% for entry in word_data.keys %}"{{ entry }}"{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: "Approved / Confirming",
                    data: [
                        {% for entry in word_data.values %}{{ entry.approved }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: "green"
                }, {
                    name: "New / Revised / Tentative",
                    data: [
                        {% for entry in word_data.values %}{{ entry.in_progress }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: "yellow"
                }, {
                    name: "Untended",
                    data: [
                        {% for entry in word_data.values %}{{ entry.untended }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: "blue"
                }, {
                    name: "Held / Stored / Excluded",
                    data: [
                        {% for entry in word_data.values %}{{ entry.excluded }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: "red"
                }]
            });
        });
    </script>

{% endblock %}
