{% load lim rules crispy_forms_tags %}

<div class="card-header">
    {% include "lim/inclusion/revision-header.html" %}
</div>
<div class="card-body px-0 list-group list-group-flush mx-0">
    <div class="list-group-item">
        {% include "lim/inclusion/revision-body.html" %}

        {% if revision.is_latest_revision %}
            {% if limerick.state == 5 %}
                <!-- stored -->
                <div class="alert alert-info">
                    This limerick is in the bottom drawer until we get further through the alphabet.
                </div>
            {% endif %}

            {% if activity %}
                <div class="float-right">
                    <nav aria-label="workshop">
                        <ul class="pagination pagination-sm pg-blue">
                            <li class="nav-item mr-2"><b>Activity: </b> ({{ activity.position }}/{{ activity.total }})
                            </li>
                            {% if activity.first %}
                                <li class="page-item">
                                    <a href="{% url 'workshop' activity.first.revision.limerick.pk %}"
                                       class="page-link" aria-label="First"
                                       title="Jump to the first workshop in your activity list"
                                    >
                                        <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                                        <span class="sr-only">First</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if activity.prev %}
                                <li class="page-item">
                                    <a href="{% url 'workshop' activity.prev.revision.limerick.pk %}"
                                       class="page-link" aria-label="Previous"
                                       title="Go to the previous workshop in your activity list"
                                        >
                                        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                {% if activity.next %}
                                    <a href="{% url 'remove-activity' activity.this.pk %}?next={{ activity.next.pk }}"
                                       class="page-link" aria-label="Delete and next"
                                       title="Remove this workshop from your activity list and move to the next">
                                        <span aria-hidden="true"><i class="far fa-trash-alt"></i>+<i
                                                class="fa fa-angle-right"></i></span>
                                        <span class="sr-only">Delete and next</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'remove-activity' activity.this.pk %}"
                                       class="page-link" aria-label="Delete"
                                       title="Remove this workshop from your activity list and show the list">
                                        <span aria-hidden="true"><i class="far fa-trash-alt"></i></span>
                                        <span class="sr-only">Delete</span>
                                    </a>
                                {% endif %}
                            </li>
                            {% if activity.next %}
                                <li class="page-item">
                                    <a href="{% url 'workshop' activity.next.revision.limerick.pk %}"
                                       class="page-link" aria-label="Next"
                                       title="Go to the next workshop in your activity list">
                                        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                        <span class="sr-only">First</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if activity.last %}
                                <li class="page-item">
                                    <a href="{% url 'workshop' activity.last.revision.limerick.pk %}"
                                       class="page-link" aria-label="Last"
                                       title="Jump to the final workshop in your activity list">
                                        <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                                        <span class="sr-only">Last</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}

            {% has_perm 'lim.set_to_approved' request.user revision.limerick as can_approve %}
            {% has_perm 'lim.set_to_confirming' request.user revision.limerick as can_stc %}
            {% has_perm 'lim.awaiting_coauthor_approval' request.user revision.limerick as awaiting_coauthor_approval %}
            {% if  can_stc %}
                <div class="row" id="stc-info">
                    <div class="col-12 alert alert-info">
                        <p>This limerick is eligible to be <b>Set To Confirming</b>. Some things to check for:</p>
                        <ul>
                            <li>
                                Grammar and Punctuation: Does the limerick make sense without line breaks?
                                <blockquote class="p-2">{{ revision.verse|safe }}</blockquote>
                            </li>
                            <li>
                                WD box: Is the WD valid? Is it entered correctly?
                                Are there any alternate spellings or irregular plurals?
                            </li>
                            <li>
                                Formatting: Are boldface and italics used properly?
                                If there is an AN, is it in an acceptable OEDILF style?
                            </li>
                            <li>
                                Spelling and Consistency:
                                If something appears more than once, is it spelled and formatted the same way?
                            </li>
                        </ul>
                        <a role="button" class="btn btn-primary" id="button-set-to-confirming"
                           href="{% url 'set-to-confirming' revision.limerick.pk %}">
                            <i class="fa fa-stopwatch"></i> Set to Confirming
                        </a>
                    </div>
                </div>
            {% elif can_approve %}
                {% include "lim/inclusion/revision-author-approval.html" with limerick_id=revision.limerick.pk %}
            {% elif awaiting_coauthor_approval %}
                <div class="alert alert-info">
                    You have approved this limerick, but we are still awaiting
                    your co-author's approval.
                </div>
            {% endif %}
            {% has_perm 'lim.add_revision' request.user revision.limerick as can_revise %}
            {% has_perm 'lim.stop_countdown' request.user revision.limerick as can_stop_countdown %}
            {% has_perm 'lim.send_lace' request.user revision.limerick as can_send_lace %}
            {% has_perm 'lim.force_final_approval' request.user revision.limerick as can_force_final_approval %}
            <div class="row mb-2">
                {% if can_stop_countdown %}
                    <a role="button" id="button-stop-countdown" class="btn btn-warning mr-1" href="#"
                       data-toggle="modal" data-target="#stopCountdownModal">
                        <i class="fa fa-stopwatch"></i> Stop countdown and return limerick to tentative
                    </a>
                {% elif can_send_lace %}
                    <a role="button" id="button-send-lace" class="btn btn-warning mr-1" href="#" data-toggle="modal"
                       data-target="#sendLACEModal">
                        <i class="fa fa-envelope"></i> {% if revision.limerick.lace_set.count != 0 %}Resend{% else %}
                        Send{% endif %} confirmation email
                    </a>
                {% endif %}
                {% if can_force_final_approval %}
                    <a role="button" id="button-force-final-approval" class="btn btn-warning mr-1" href="#"
                       data-toggle="modal" data-target="#forceFinalApprovalModal">
                        <i class="fa fa-flag-checkered"></i> Force final approval
                    </a>
                {% endif %}
                {% if can_revise and not can_approve %}
                    <a role="button" class="btn btn-primary" href="{% url 'add-revision' revision.limerick.pk %}">
                        <i class="fa fa-edit"></i> Revise limerick
                    </a>
                {% endif %}
            </div>
    </div>
            {#                            {% endcache %}#}

            {% has_perm 'lim.manage_topics' request.user revision.limerick as can_manage_topics %}
            {% if can_manage_topics %}
                <div class="list-group-item col-12 bg-light" id="manage-topics-form">
                    <form action="#">
                        <div class="form-group row">
                            <label for="id-manage-topics-ajax" class="col-md-2 col-form-label">Topics</label>
                            <div class="col-md-10">
                                <select multiple id="id-manage-topics-ajax" class="form-control"
                                        style="width:100%"></select>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
            {% has_perm 'lim.manage_tags' request.user as can_manage_tags %}
            {% if can_manage_tags %}
                <div class="list-group-item col-12 bg-light" id="manage-tags-form">
                    <form action="#">
                        <div class="form-group row">
                            <label for="id-manage-tags-ajax" class="col-md-2 col-form-label">Tags</label>
                            <div class="col-md-10">
                                <select multiple id="id-manage-tags-ajax" class="form-control"
                                        style="width:100%"></select>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% has_perm 'lim.add_comment' request.user revision.limerick as can_add_comment %}
            {% if can_add_comment %}
                <div class="list-group-item bg-light" id="add-comment-form">
                    {% crispy add_form %}
                </div>
            {% endif %}
        {% endif %}
    {% for comment in revision.comment_set.all %}
        {% include 'lim/inclusion/workshop-comment-list-group.html' with comment=comment %}
        {% empty %}
        <div id="div_comment_empty" class="list-group-item flex-column align-items-start list-group-item-info">
            <p>No workshop comments found for this revision.</p>
        </div>

    {% endfor %}
</div>
