{% extends "lim/base.html" %}
{% load lim humanize rules crispy_forms_tags static cache absoluteuri solo_tags %}

<!--suppress JSUnusedLocalSymbols -->

{% block head %}
    <link href="{% static '3rdparty/trumbowyg/dist/ui/trumbowyg.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static '3rdparty/trumbowyg/dist/trumbowyg.js' %}"></script>
<script src="{% static '3rdparty/preloaders/jquery.preloaders.min.js' %}"></script>
<script src="{% static 'js/ajax-beforesend.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="{% static 'js/clipboard.js' %}"></script>
<script src="{% static '3rdparty/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/trumbowyg_options.js' %}"></script>
<script>

    $('#deleteCommentModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var comment_pk = button.data('comment'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('#modal-delete-button').attr('href', 'javascript:deleteComment("' + comment_pk + '");');
        var author = $('#comment_author_' + comment_pk).html();
        var message = $('#comment_message_' + comment_pk + ' p').html();
        modal.find('#modal-author').html(author);
        modal.find('#modal-message').html(message);
    });

    function deleteComment(comment_pk) {
        $('#delete_comment-button_' + comment_pk).html('<i class="fa fa-hourglass-half"></i>').addClass('disabled');
        $.ajax({
            url: "{% url 'comment-delete' '00000' %}".replace("00000", comment_pk),
            method: 'POST',
            success: function() {
                $('#div_comment_' + comment_pk).remove();
            },
            failure: function(err) {
                console.log(err);
            }
        });
        $('#deleteCommentModal').modal('toggle');
    }

    $('#clearRFAsModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var limerick_id = button.data('limerick_id');
        var modal = $(this);
        modal.find('#modal-clear-rfas-button').attr('href', 'javascript:clearRFAs("' + limerick_id + '");');
    });

    function clearRFAs(form_id) {
        $('#clearRFAsModal').modal('hide');
        $.preloader.start({modal: true, src: 'sprites2.png'});
        $.ajax({
            url: "{% url 'clear-rfas' limerick.pk %}",
            method: 'DELETE',
            success: function(response) {
                if (response['success']) {
                    var form = $(form_id);
                    form.children("[name='action']").val("CLEAR_RFAS");
                    $.ajax({ // create an AJAX call...
                        data: form.serialize(), // get the form data
                        type: form.attr('method'), // GET or POST
                        url: "{% url 'comment-create-ajax' %}",
                        success: function(form_response) { // on success..
                            if (response['success']) {
                                window.location.href = response['href'];
                            } else {
                                console.log("Could not add clear-rfas comment: ", response);
                            }
                        },
                        error: function(e, x, r) { // on error..
                            if (e.status === 400) {
                                form.find('textarea').trumbowyg('destroy');
                                form.html(e['responseText']);
                                form.find('textarea').trumbowyg(trumbowyg_options);
                            }
                        }
                    });

                } else {
                    console.log(response);
                }
                $('#processing-status').attr('data-status', 'done');

            },
            failure: function(err) {
                console.log(err);
            }
        });
    }

    $('#stopCountdownModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var limerick_id = button.data('limerick_id');
        var modal = $(this);
        modal.find('#modal-stop-countdown-button').attr('href', 'javascript:stopCountdown("{{ limerick.pk }}");');
    });

    function stopCountdown(limerick_id) {
        $('#stopCountdownModal').modal('hide');
        location.href = '{% url 'limerick-stop-countdown' limerick.pk %}';
    }

    $('#forceFinalApprovalModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var limerick_id = button.data('limerick_id');
        var modal = $(this);
        modal.find('#modal-force-final-approval-button').attr('href', 'javascript:forceFinalApproval("{{ limerick.pk }}");');
    });

    function forceFinalApproval(limerick_id) {
        $('#forceFinalApprovalModal').modal('hide');
        location.href = '{% url 'limerick-force-final-approval' limerick.pk %}';
    }

    $('#sendLACEModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var limerick_id = button.data('limerick_id');
        var modal = $(this);
        modal.find('#modal-send-lace-button').attr('href', 'javascript:resendLACE("{{ limerick.pk }}");');
    });

    function resendLACE(limerick_id) {
        $('#sendLACEModal').modal('hide');
        location.href = '{% url 'limerick-resend-lace' limerick.pk %}';
    }

    function triggerEditComment(comment_pk) {
        $.ajax({
            url: "{% url 'comment-update' '00000' %}".replace('00000', comment_pk),
            method: 'GET',
            success: function(data) {
                $('#div_comment_' + comment_pk).html(data);
                $('#id_message-' + comment_pk).trumbowyg(trumbowyg_options);
                prepareTextMacrosSelect2('#id_text-macros-' + comment_pk);
            },
            failure: function(err) {
                console.log(err);
            }
        });
    }

    function addComment(form, action, modalCleared) { // catch the form's submit event
        //form.children('[name="action"]').val(action);
        //$('input[name="action"]', form).val(action);
        if (action === "CLEAR_RFAS") { // CLEAR_RFAS
            addCommentAndClearAllRFAs(form);
            return false;
        } else if (action === "CFA" && !modalCleared) { // CFA
            showCFAModal(form);
            return false;
        }
        $.preloader.start({modal: true, src: 'sprites2.png'});
        $(form).children("[name='action']").val(action);
        $.ajax({ // create an AJAX call...
            data: form.serialize(), // get the form data
            type: form.attr('method'), // GET or POST
            url: "{% url 'comment-create-ajax' %}",
            success: function(response) { // on success..
                if (response['success']) {
                    if (response['html'] instanceof Array) {
                        response['html'].forEach(function(c) {
                            form.parent().after(c);
                        });
                    } else {
                        form.parent().after(response['html']);
                    }
                    $('#approvers-' + response['revision_version']).html(response['approvers_html']);
                    $('#revision-' + response['revision_version'] + '-metadata').html(response['metadata_html']);
                } else {
                    console.log("failed", response);
                }
                form.find('textarea').trumbowyg('destroy');
                var parent = form.parent();
                parent.html(response['form_html']);
                parent.find('textarea').trumbowyg(trumbowyg_options);
                prepareTextMacrosSelect2('#' + parent.find('select').attr('id'));
                $('#processing-status').attr('data-status', 'done');
                $.preloader.stop();
            },
            error: function(e, x, r) { // on error..
                if (e.status === 400) {
                    form.find('textarea').trumbowyg('destroy');
                    form.html(e['responseText']);
                    form.find('textarea').trumbowyg(trumbowyg_options);
                } else {
                    console.log(e, x, r);
                }
                $.preloader.stop();
            }
        });
        return false;
    }

    function updateComment(comment_pk) {
        var form = $('#div_comment_' + comment_pk + ' form');
        $.ajax({
            data: form.serialize(),
            type: form.attr('method'),
            url: "{% url 'comment-update' '00000' %}".replace('00000', comment_pk),
            success: function(response) {
                if (response['success']) {
                    $('#div_comment_' + comment_pk).html(response['html']);
                } else {
                    form.find('textarea').trumbowyg('destroy');
                    var parent = form.parent();
                    parent.html(response['form_html']);
                    parent.find('textarea').trumbowyg(trumbowyg_options);
                    prepareTextMacrosSelect2('#' + parent.find('select').attr('id'));
                }
            },
            error: function(e, x, r) {
                if (e.status === 400) {
                    form.find('textarea').trumbowyg('destroy');
                    form.html(e['responseText']);
                    form.find('textarea').trumbowyg(trumbowyg_options);
                    prepareTextMacrosSelect2('#' + form.find('select').attr('id'));
                }
            }
        });
        return false;
    }
    function cancelUpdateComment(comment_pk) {
        $.ajax({
            type: 'GET',
            url: "{% url 'comment-ajax' '00000' %}".replace('00000', comment_pk),
            success: function(response) {
                $('#div_comment_' + comment_pk).html(response['html']);
            },
            error: function(e, x, r) {
                console.log(e, x, r);
            }
        });
    }

    function addCommentAndClearAllRFAs(form) {
        $('#clear-rfas-modal-button').attr('href', 'javascript:clearRFAs("#add-comment-form form")');
        $('#clearRFAsModal').modal('show');
    }

    function showCFAModal(form) {
        $('#callForAttentionModal').modal('show');
    }

    function addCommentAndCFA(form, action) {
        $('#callForAttentionModal').modal('hide');
        addComment(form, action, true);
    }

    $(document).ready(function() {
        $('.trumbowyg').trumbowyg(trumbowyg_options);
    });

    //
    // Manage topics
    //
    function formatTopic(topic) {
        if (topic.parent_name !== null) {
            display_name = topic.parent_name + " > " + topic.name
        } else {
            display_name = topic.name
        }
        return $(
            "<div><div>" + display_name + "</div><small class='text-muted text-truncate'>" + topic.description + "</small></div>"
        );
    }
    function updateLimerickTopics(e) {
        var topicSelect = $("#id-manage-topics-ajax");
        topicSelect.prop("disabled", true);
        var topic_urls = $.map(
            topicSelect.find(":selected"),
            function(topic) {
                return "{% absolutize '' %}" + "{% url 'topic-detail' '00000' %}".replace("00000", topic.value);
            });
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            url: "{% url 'limerick-detail' limerick.pk %}",
            type: "PATCH",
            data: JSON.stringify({
                pk: "{{ limerick.pk }}",
                topics: topic_urls
            }),
            success: function(response, textStatus, jqXhr) {
                $.ajax({
                    url: "{% url "ajax-limerick-topic-badges" limerick.pk %}",
                    success: function(response, textStatus, jqXhr) {
                        $("#id-topics-{{ limerick.pk }}").html(response['html']);
                    }
                });
                topicSelect.prop("disabled", false);
            },
            failure: function(response, textStatus, errorThrown) {
            },
            complete: function() {
            }
        });
    }
    function prepareTopicSelect2(identifier) {
        var topicSelector = $(identifier);
        topicSelector.select2({
            placeholder: 'Topics',
            templateResult: formatTopic,
            ajax: {
                url: '{% url "topic-list" %}',
                dataType: 'json',
            },
        });
        {% if limerick.topics %}
            {% for topic in limerick.topics.all %}
                var o = new Option("{{ topic.name }}", "{{ topic.pk }}", true, true);
                topicSelector.append(o);
            {% endfor %}
            topicSelector.trigger("change");
            topicSelector.on("select2:select", updateLimerickTopics);
            topicSelector.on("select2:unselect", updateLimerickTopics);
        {% endif %}
    }

    //
    // Manage tags
    //
    function formatTag(tag) {
        return tag.text;
    }
    function changeLimerickTag(e, method) {
        var tagSelect = $("#id-manage-tags-ajax");
        tagSelect.prop("disabled", true);
        if (e.params.data.created_id) {
            var tag_id = e.params.data.created_id;
        } else {
            var tag_id = e.params.data.id;
        }
        var tag_url = "{% absolutize '' %}" + "{% url 'tag-detail' '000000' %}".replace("000000", tag_id);
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            url: "{% url 'limerick-detail' limerick.pk %}" + method + "_tags/",
            type: "PATCH",
            data: JSON.stringify({
                tags: [tag_url]
            }),
            success: function(response, textStatus, jqXhr) {
                $.ajax({
                    url: "{% url 'ajax-limerick-tag-badges' limerick.pk %}",
                    success: function(response, textStatus, jqXhr) {
                        $("#id-tags-{{ limerick.pk }}").html(response['html']);
                    }
                });
                tagSelect.prop("disabled", false);
            },
            failure: function(response, textStatus, errorThrown) {
            }
        });
    }
    function addNewLimerickTag(e) {
        var tagSelect = $("#id-manage-tags-ajax");
        tagSelect.prop("disabled", true);
        status = $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            url: "{% url 'tag-list' %}",
            type: "POST",
            data: JSON.stringify({
                text: e.params.data.text,
                limericks: [
                    "{% absolutize '' %}" + "{% url 'limerick-detail' limerick.pk %}"
                ]
            }),
            success: function(response, textStatus, jqXhr) {
                // see https://stackoverflow.com/questions/44800446/select2-v4-programmatically-remove-a-tag
                // need to do this so that the actual id of the newly created tag appears in select2
                // so that it can be immediately removed from the limerick if the user so wishes (by clicking x)
                tagSelect.next(".select2").find('option[value="' + e.params.data.text + '"]').remove();
                tagSelect.find('option[value="' + e.params.data.text + '"]').prop("selected", false);
                var newOption = new Option(response.text, response.id, true, true);
                tagSelect.append(newOption).trigger("change");
                $.ajax({
                    url: "{% url 'ajax-limerick-tag-badges' limerick.pk %}",
                    success: function(response, textStatus, jqXhr) {
                        $("#id-tags-{{ limerick.pk }}").html(response['html']);
                    }
                });
                tagSelect.prop("disabled", false);
            },
            failure: function(response, textStatus, errorThrown) {
                console.log("failure", response, textStatus, errorThrown)
            }
        });
    }
    function addLimerickTag(e) {
        if (e.params.data.newTag) {
            addNewLimerickTag(e);
        } else {
            changeLimerickTag(e, "add")
        }
    }
    function removeLimerickTag(e) {
        changeLimerickTag(e, "remove");
    }
    function createTag(params) {
        var term = $.trim(params.term);

        if (term === '' || !/[A-Za-z]/.test(term) || /"/.test(term)) {
            return null;
        }

        return {
            id: term,
            text: term,
            newTag: true // add additional parameters
        }
    }

    function prepareTagSelect2(identifier) {
        var tagSelector = $(identifier);
        tagSelector.select2({
            placeholder: 'Personal tags',
            templateResult: formatTag,
            ajax: {
                url: '{% url "tag-list" %}',
                dataType: 'json',
            },
            createTag: createTag,
            tags: true
        });
        {% if tags %}
            {% for tag in tags %}
                var o = new Option("{{ tag.text }}", "{{ tag.pk }}", true, true);
                tagSelector.append(o);
            {% endfor %}
            tagSelector.trigger("change");
        {% endif %}
        tagSelector.on("select2:select", function(e) {addLimerickTag(e)});
        tagSelector.on("select2:unselect", function(e) {removeLimerickTag(e)});
    }


    //
    // Editor buttons
    //
    function quoteLimerick(editor) {
        return quoteExtract(editor, 'verse');
    }
    function quoteAN(editor) {
        return quoteExtract(editor, 'author_notes');
    }
    function quoteExtract(editor, part) {
        $.ajax({
            url: "{% url 'revision-detail' limerick.latest_revision.pk %}",
            method: "GET",
            success: function(data) {
                $(editor).trumbowyg('html', $(editor).trumbowyg('html') + data[part].replace(/\n/g, '<br/>'));
            }
        });
    }
    function formatMacro(macro) {
        return $(
            "<div><div>" + macro.title + "</div><small class='text-muted text-truncate'>" + macro.body + "</small></div>"
        );
    }
    function includeMacro(caller, target) {
        body = $(caller).select2('data')[0]['body'];
        $(target).trumbowyg('html', $(target).trumbowyg('html') + body);
    }
    function prepareTextMacrosSelect2(text_macros_id) {
        $(text_macros_id).select2({
            placeholder: 'Text macros',
            templateResult: formatMacro,
            ajax: {
                url: "{% url 'textmacro-list' %}",
                dataType: 'json',
                processResults: function(data) {
                    $.map(data.results, function(obj) {
                        obj.text = obj.title;
                        return obj;
                    });
                    return {
                        results: data.results,
                        pagination: {
                            more: (data.page * 100) < data.count
                        }
                    };
                },
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page || 1,
                    };

                    // Query parameters will be ?search=[term]
                },
            }
        });
    }

    // dynamically load revision sections with Waypoint
    function prepareWaypoints() {
        var revisionWaypoints = $('.waypoint');
        revisionWaypoints.slice(0, 1).waypoint({
            offset: "100%",
            handler: function() {
                var el = $(this.element);
                $.ajax({
                    method: "GET",
                    url: "{% url "revision-workshop" "000000" %}".replace("000000", el.attr("data-revision-id")),
                    success: function(response) {
                        el.html(response["html"]);
                        prepareTextMacrosSelect2('#id_text-macros');
                        prepareTopicSelect2('#id-manage-topics-ajax');
                        prepareTagSelect2('#id-manage-tags-ajax');
                        $('.trumbowyg').trumbowyg(trumbowyg_options);

                    }
                });
            }
        });
        revisionWaypoints.slice(1).waypoint({
            handler: function() {
                var el = $(this.element);
                $.ajax({
                    method: "GET",
                    url: "{% url "revision-workshop" "000000" %}".replace("000000", el.attr("data-revision-id")),
                    success: function(response) {
                        el.html(response["html"]);
                    }
                });
            }
        });
    }

    function toggleWatching() {
        $.ajax({
            method: "GET",
            url: '{% url "toggle-watching" limerick.pk %}',
            success: function(response) {
                $("#watching").html(response["html"]);
            }
        });
    }
    $(document).ready(function() {
        prepareTextMacrosSelect2('#id_text-macros');
        prepareTopicSelect2('#id-manage-topics-ajax');
        prepareTagSelect2('#id-manage-tags-ajax');
        prepareWaypoints();
    });


</script>
{% endblock %}

{% block title %}
Workshop:
<b>{{limerick.formatted_defined_words}}</b>
by {{limerick.latest_revision.author_names}}
{% endblock %}

{% block subtitle %}
    {% include "lim/inclusion/reference-badge-limerick.html" %}
{% endblock %}

{% block tableofcontents %}
    {% for revision in limerick.revision_set.all %}
        <a class="list-group-item text-truncate" href="#revision-{{revision.version}}">
            Revision {{revision.version}}
            {% if revision.definedword_set.count > 0 %}
                &mdash;
                {% for definedword in revision.definedword_set.all %}
                    {{ definedword.word_text }}{% if not forloop.last %}; {% endif %}
                {% endfor %}
            {% endif %}
        </a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% for revision in limerick.revision_set.all %}
        <div class="container-fluid">
            <div class="card z-depth-1 mt-3 continuous-true waypoint px-tosm-0" data-revision-id="{{ revision.pk }}" id="revision-{{revision.version}}" {%if revision == revision.limerick.latest_revision%}id="latest-revision"{%endif%}>
                {% include "lim/cards/revision-waypoint-card.html" %}
            </div>
        </div>

    {% endfor %}

<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCommentModalLabel">Delete this comment?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="text-muted border border-primary bg-light p-1 rounded">
              <b><span id="modal-author"></span>:</b>
              <p>
                  <span id="modal-message"></span>
              </p>
          </div>
        <p class="text-bold">Are you sure you want to delete this comment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a role="button" id="modal-delete-button" href="#" class="btn btn-danger">Yes, delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clearRFAsModal" tabindex="-1" role="dialog" aria-labelledby="clearRFAsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clearRFAsModalLabel">Delete ALL RFAs?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold">Are you sure you want to delete ALL RFAs on this limerick?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a role="button" id="clear-rfas-modal-button" href="#" class="btn btn-danger">Yes, clear ALL RFAs</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="stopCountdownModal" tabindex="-1" role="dialog" aria-labelledby="stopCountdownModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stopCountdownModalLabel">Stop countdown?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold">Are you sure you want to stop the countdown and return this limerick to tentative?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a role="button" id="modal-stop-countdown-button" href="#" class="btn btn-danger">Yes, stop countdown</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sendLACEModal" tabindex="-1" role="dialog" aria-labelledby="sendLACEModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendLACEModalLabel">Send LACE?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold">Are you sure you want to {% if limerick.lace_set.count > 0 %}re{% endif %}send the Limerick Approval Confirmation Email to {{ limerick.latest_revision.author_names }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a role="button" id="modal-send-lace-button" href="#" class="btn btn-danger">Yes, send email</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="forceFinalApprovalModal" tabindex="-1" role="dialog" aria-labelledby="forceFinalApprovalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forceFinalApprovalLabel">Approve limerick directly?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold">Are you sure you want to approve this limerick directly, without waiting for approval from {{ limerick.latest_revision.author_names }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a role="button" id="modal-force-final-approval-button" href="#" class="btn btn-danger">Yes, approve limerick</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="callForAttentionModal" tabindex="-1" role="dialog" aria-labelledby="callForAttentionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="callForAttentionLabel">Approve limerick directly?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
            If you go ahead with this Call For Attention, <i>every</i> workshopping editor
            will receive a notification.  The notifications will continue until
            {% get_solo "lim.SiteSettings" as site_settings %}
            {{ site_settings.cfa_contributors }}
            different workshoppers have contributed to the discussion.
        </p>
        <p class="text-bold">
            Are you sure you want to Call For Attention?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a role="button" id="modal-call-for-attention-button" href="javascript:addCommentAndCFA($('#add-comment-form form'), 'CFA')" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
