body {
 font-family: sans-serif;
 background-color: #fdffff;
 margin: 0px;
 padding: 20px;
 font-size:95%;
 border: 0px;
}

a {
 color: #000000;
}

th {
 text-align: left;
 padding-left: 10px;
 padding-right: 10px;
}

td {
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 6px;
 padding-bottom: 6px;
 text-align: left;
 vertical-align: top ;
}

h1 {
 font-size: 300%;
 line-height: 105%;
 font-family: "Garamond", "Times New Roman", Serif;
 padding: 1px;
 margin: 1px;
 color: #000000;
}
h2 { font-size: 180%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 { font-size: 100%; }

.hinttext {
 font-size: 85%;
/* font-family: sans-serif; */
}
.smalltext {
 font-size: 85%;
/* font-family: sans-serif; */
 color: #788898;
}
.copyright {
 font-size: 80%;
/* font-family: sans-serif; */
}
.subheading {
 font-size: 100%;
 color: #000000;
}
.showcasetitle {
 font-size: 140%;
 font-weight: bold;
 font-family: "Garamond", "Times New Roman", Serif;
 margin-bottom: 16px;
}
.showcaseverse {
 font-size: 130%;
 font-family: "Garamond", "Times New Roman", Serif;
 margin-bottom: 16px;
}
.limericktitle {
 font-size: 100%;
 color: #000000;
 margin-bottom: 4px;
}
.limerickline {
 margin-bottom: 3px;
}
.limerickverse {
 font-size: 100%;
 color: #000066;
 margin-bottom: 8px;
}
.topiclimerickverse {
 font-size: 100%;
 line-height:150%;
 color: #000066;
 margin-bottom: 4px;
}
.limericknotes {
 font-size: 100%;
 color: #000000;
}
.limerickdetails {
 font-size: 90%;
 color: #000000;
}
.limerickauthor {
 padding-left: 10px;
 font-size: 90%;
 color: #000000;
}
.subtopictext {
 font-size: 85%;
}
.preferencehighlight0 {
 color: #000000;
 font-weight: bold;
}
.preferencehighlight1 {
 color: #660000;
 font-weight: bold;
}
.preferencehighlight2 {
 color: #cc0000;
 font-weight: bold;
}
.preferencehighlight3 {
 color: #cc6600;
 font-weight: bold;
}
.preferencehighlight4 {
 color: #009900;
 font-weight: bold;
}
.preferencehighlight5 {
 color: #3300cc;
 font-weight: bold;
}
.preferencehighlight6 {
 color: #9900cc;
 font-weight: bold;
}

.warninghighlight {
 color: #cc0000;
 font-weight: bold;
}

.randomtable {
 font-size: 85%;
 background-color: #d8e8f0;
 padding: 2px;
}
td.randompanel {
 background-color: #f6fdff;
 padding-top: 2px;
 padding-bottom: 2px;
}

.bannertable {
 padding: 0px;
 text-align: left;
 vertical-align: top ;
 background-color: #d8e8f0;
}
td.banner {
 padding: 0px;
 text-align: left;
 vertical-align: top ;
 background-color: #d8e8f0;
}

.widetable {
 width: 100%;
 margin-bottom: 8px;
 margin-top: 2px;
 background-color: #d8e8f0;
}

.menutable {
 width: 100%;
 background-color: #d8e8f0;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 0px;
 margin-bottom: 5px;
 margin-top: 0px;
}

td.menus {
 background-color: #d8e8f0;
 line-height: 150%;
 padding-top: 2px;
 padding-bottom: 2px;
 text-align: left;
}

td.menusright {
 background-color: #d8e8f0;
 line-height: 150%;
 padding-top: 2px;
 padding-bottom: 2px;
 text-align: right;
 margin-bottom: 1px;
}

a.nav {
 font-size: 80%;
 font-weight: bold;
 border: 1px solid #d8e8f0;
 text-decoration: underline;
 padding-left: 6px;
 padding-right: 6px;
}
a.nav:hover {
 border-left: 1px solid #ffffff;
 border-top: 1px solid #ffffff;
 border-right: 1px solid #407080;
 border-bottom: 1px solid #407080;
 text-decoration: none;
}

a.macro {
 font-size: 80%;
 line-height: 150%;
 font-weight: bold;
 background-color: #d8e8f0;
 border-left: 1px solid #ffffff;
 border-top: 1px solid #ffffff;
 border-right: 1px solid #407080;
 border-bottom: 1px solid #407080;
 text-decoration: none;
 padding-left: 6px;
 padding-right: 6px;
}
a.macro:hover {
 background-color: #f6fdff;
}


#authortable th {
 padding: 10px;
}
#authortable td {
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 1px;
 padding-bottom: 1px;
 background-color: #f6fdff;
}

td.lightpanel {
 background-color: #f6fdff;
}
td.darkpanel {
 background-color: #f0f8fc;
}

td.entryform {
 background-color: #f0f8fc;
}
ul.topiclist {
 font-size:120%;
 line-height:180%;
}
textarea {
 background-color: #f6fdff;
}
input {
 background-color: #d8e8f0;
 font-size:80%;
 font-weight: bold;
}
select {
 background-color: #f6fdff;
}
.but {
 font-size: 80%;
 color: #000000;
 text-decoration: none;
 background-color: #f6fdff;
 font-weight: bold;
}
.darkbut {
 font-size: 80%;
 color: #000000;
 text-decoration: none;
 background-color: #d8e8f0;
 font-weight: bold;
}
