.trigger{
	cursor:pointer;
	background-color: #d8e8f0;
	margin-bottom: 3px;
}		
.trigger:hover{
	cursor:pointer;
	background:#eff;
	margin-bottom: 3px;
}
.expanded{
	cursor:pointer;
	background-color: #d8e8f0;
}
.expanded:hover{
	background:#eff;
	cursor:pointer;
}
img {
    border: 0px;
}
.show{
    position:static;
    display: block;
}
.hide{
	position:absolute;
	left:-999em;
	height:1px;
	width:100px;
	overflow:hidden;
}
