#idTree div {
	display:block;
	padding-left:0px;
	margin-left:20px;
	background-color:#fff;
}
#idTree {
	padding-left:0px;
	margin-left:0px;
}

#idTree > div {
	padding-left:0px;
	margin-left:0px;
} 
#idTree img {
	border:0px;
	margin:1px;
	padding-right:10px;	
	vertical-align: middle;
}
#idTree a.branchtopic {
	text-decoration:none;	
	color:#000;
}
#idTree a.branchtopic:hover {
	text-decoration:underline;
}
#idTree a.leaftopic {
	text-decoration:none;	
	color:#000;
	padding-left:20px;
}
#idTree a.leaftopic:hover {
	text-decoration:underline;
}


#idBut {
	margin-left:20px;
	text-decoration:none;
	border:1px solid;
}

