body {
	font-family: 'Roboto', sans-serif;
}


.lim-verse {
	color: #000098;
}

.highlighted {
	background-color: #ffff88;
}

.navbar .dropdown .dropdown-menu a:hover {
color: #000 !important;
}
.navbar .dropdown .dropdown-menu a:active {
color: #fff !important;
}


table.stacktable.small-only tbody tr.odd {
	background-color: white;
}

table.stacktable.small-only tbody tr.even {
	background-color: #f3f3f3;
}

.drag-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}

.random-limerick .card-header, .random-limerick .card-footer {
	background-color: #1a237e;
}


/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 *
 * EDITED by Nino Škopac for StackOverflow (https://stackoverflow.com/q/18602121/1325575)
 */
/*noinspection ALL*/
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}


@media (min-width: 1200px) {
	main {
		margin-left: 6%;
		margin-right: 6%;
	}
}
@media (min-width: 992px) {
	main {
		margin-left: 5%;
		margin-right: 5%;
	}
}
@media (min-width: 600px) {
	main {
		margin-left: 2%;
		margin-right: 2%;
	}
}
@media (max-width:599.98px) {
  main {
    margin-left: 0;
    margin-right: 0;
  }
  /* Bootstrap doesn't specify what the default padding is.
   * So let's invent some things to force zero padding and margin
   * up to -sm- size.
   */
  .px-tosm-0 {
    padding-left: 0 !important ;
    padding-right: 0 !important ;
  }
  .py-tosm-0 {
    padding-top: 0 !important ;
    padding-bottom: 0 !important ;
  }
  .p-tosm-0 {
    padding: 0 !important ;
  }
  .mx-tosm-0 {
    margin-left: 0 !important ;
    margin-right: 0 !important ;
  }
  .my-tosm-0 {
    margin-top: 0 !important ;
    margin-bottom: 0 !important ;
  }
  .m-tosm-0 {
    margin: 0 !important ;
  }
}

/*
 * Turn checkboxes into switches
 * https://www.abeautifulsite.net/bootstrap-4-switches
 */

.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

.dropdown-menu {
  margin-top: .75rem;
}

.hanging-indent {
    padding-left: 1rem;
    text-indent: -1rem;
}

@media (max-width: 399px) {
  #feedback-btn {
    display: none;
  }
}
@media (min-width: 400px) {
  #feedback-btn {
    display: inline-block;
    position: fixed;
    left: -25px;
    bottom: 50px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}

/* highlight boldface words in editor */
.trumbowyg-editor b {
  background-color: rgb(232,232,232);
}
.trumbowyg-editor {
  background-color: white;
}
