.lim-verse {
	color: #000098;
}

.callout h2 {
    max-width: 100%;
}

@media (max-width: 767px) {
    .homepage-statistics h2 {
        font-size: 5rem !important;
        padding-top: 2rem;
    }
    .homepage-statistics p {
        padding-top: 0;
    }
}
@media (min-width: 768px) {
    .homepage-statistics h2 {
        font-size: 8rem !important;
        padding-top: 4rem;
    }
    .homepage-statistics p {
        padding-top: 2rem;
        font-size: 2rem;
    }
}

.hanging-indent {
    padding-left: 1rem;
    text-indent: -1rem;
}

body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;}