{% extends 'base.html' %}

{% block title %}Impersonation User List{% endblock %}
{% block subtitle %}
This allows you to pretend to be another user for a while.
<b>USE WITH EXTREME CAUTION!</b>
{% endblock %}

{% block content %}
{% if page.object_list %}
  <ul>
    {% for user in page.object_list %}
      <li><a href="{% url 'impersonate-start' user.pk %}{{redirect}}">{{ user }}</a> - Impersonate</li>
    {% endfor %}
  </ul>
{% endif %}

    Page {{ page_number }}

{% if page.has_previous %}
<a href="{% url 'impersonate-list' %}?page={{ page.previous_page_number }}">Previous Page</a> &nbsp;
{% endif %}

{% if page.has_next %}
<a href="{% url 'impersonate-list' %}?page={{ page.next_page_number }}">Next Page</a> &nbsp;
{% endif %}
{% endblock %}
