{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Email Addresses" %}{% endblock %}

{% block content %}
    <p>
    You may associate multiple email addresses with your account, but mail will only be sent to the address marked as "primary".
    </p>
    {% if user.emailaddress_set.all %}

        <form action="{% url 'account_email' %}" class="email_list" method="post">
        <div class="form-group">
            {% csrf_token %}
            <fieldset class="blockLabels">
                <legend>{% trans 'The following email addresses are associated with your account:' %}</legend>

                {% for emailaddress in user.emailaddress_set.all %}
                    <div class="ctrlHolder form-check">
                        <label for="email_radio_{{ forloop.counter }}"
                               class="form-check-radio {% if emailaddress.primary %}primary_email{% endif %}">

                            <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                   class="form-check-input"
                                   {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                   value="{{ emailaddress.email }}"/>

                            {{ emailaddress.email }}
                            {% if emailaddress.primary %}<span class="badge badge-primary"><i
                                    class="fa fa-check"></i> {% trans "Primary" %}</span>{% endif %}
                            {% if emailaddress.verified %}
                                <span class="badge badge-success"><i
                                        class="fa fa-user-check"></i> {% trans "Verified" %}</span>
                            {% else %}
                                <span class="badge badge-warning"><i
                                        class="fa fa-user-times"></i> {% trans "Unverified" %}</span>
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}

                <div class="buttonHolder">
                    <button class="secondaryAction btn btn-secondary" type="submit"
                            name="action_primary">{% trans 'Make Primary' %}</button>
                    <button class="secondaryAction btn btn-secondary" type="submit"
                            name="action_send">{% trans 'Re-send Verification' %}</button>
                    <button class="primaryAction btn btn-secondary" type="submit"
                            name="action_remove">{% trans 'Remove' %}</button>
                </div>

            </fieldset>
</div>
        </form>

    {% else %}
        <p>
            <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any email address set up. You should really add an email address so you can receive notifications, reset your password, etc." %}
        </p>

    {% endif %}


    <h2>{% trans "Add Email Address" %}</h2>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form|crispy }}
        <button name="action_add" type="submit" class="btn btn-primary">{% trans "Add Email" %}</button>
    </form>

{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
        (function () {
            var message = "{% trans 'Do you really want to remove the selected email address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
